.info .border-bottom {
    border-bottom: 4px solid #8d639d !important;
    color: #8d639d;
    font-family: qustionFont, serif;
    font-weight: 300;
  }
  
  .topics  {
    background: #664c75;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
  }
  
  .topics a {
    transition: 0.5s ease-in-out;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white!important;
  
  }
  .topics:hover {
    cursor: pointer;
    background: #40334a;
    color: white!important;
  
  }
  .create-form input, .create-form select, .create-form textarea, .open-topic-tree {
    border: 2px solid #664c75;
    border-radius: 10px;
    color: #664c75;
    transition: 0.5s ease-in-out;
  
  
  
  }
  .open-topic-tree a{
    color: #664c75;
    font-weight: bolder;
  }
  .open-topic-tree:hover{
    color: #ffffff;
    background-color: #664c75;
  }.open-topic-tree:hover a{
     color: #ffffff;
   }
  
  @media screen and (max-width: 650px) {
  
    .topic-items {
      height: 80px;
    }
  }
  
  
  
  
  mat-tree-node {
  
    min-height: auto !important;
    background-color: #ffffff;
    color: #8d639d;
    transition: 0.5s ease-in-out;
  
  
  }
  
  mat-tree-node > div {
    border: 1px solid #8d639d;
    margin: 1px;
    transition: 0.5s ease-in-out;
  
  
  }
  
  mat-icon {
    background-color: #8d639d;
    color: white;
    margin: 0 auto;
  
  }
  
  .child-icon {
    background-color: #ffffff;
    color: #8d639d;
  }
  
  .parent {
  
    background-color: #8d639d;
    color: white;
  }
  
  .topic-type {
    margin: auto;
    height: 20px;
    background: url("src/assets/topic-tree/Subtopic Icon.svg") center center no-repeat;
    background-size: contain;
  
  }
  
  .hidden-icons {
    color: #8d639d;
    visibility: hidden;
    transition: 0.5s ease-in-out;
  
  }
  
  .parent .topic-type {
    margin: auto;
    height: 20px;
    background: url("src/assets/topic-tree/Topic Folder Icon.svg") center center no-repeat;
    background-size: contain;
  }
  
  
  
  mat-tree-node > div:hover .hidden-icons {
    visibility: visible;
  
  }mat-tree-node > .parent:hover {
     background-color: #664c75;
   }
  
  mat-tree-node > .parent:hover .hidden-icons {
    visibility: visible;
    transition: 0.5s ease-in-out;
  
  }
  .checkbox-design{
    width: 30px !important;
    height: 30px !important;
    border:1px solid #8d639d;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none;
    font-size: 0.8em;
    text-align: center;
    line-height: 1em;
    background: #ffffff;
  }
  
  .checkbox-design:checked:after {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    line-height: 30px;
    content: '✔';
    color: #8d639d;
    border: 0px;
  
  }
  .close-btn{
    width: 85px;
    height: 85px;
    background-image: url("src/assets/topic-tree/Close.png");
    background-size: cover;
    transition: 0.3s ease-in-out;
  }
  
  .close-btn:hover{
    background-image: url("src/assets/topic-tree/Close_Hover.png");
  
  }
  
  .border-bottom-style{
    border-bottom:3px solid #9a75a8 ;
  }
  @media screen and (min-width: 640px) {
    .close-btn{
      width: 85px;
      height: 85px;
    }
  }
  @media screen and (max-width: 650px) {
    .close-btn{
      width: 50px;
      height: 50px;
    }
  }
  