
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-1 position-relative bg-body rounded" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand logo p-2" href="#"><img src="assets/homeIcon/Logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-md-8 position-relative" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-md-7 text-center">
        <li class="nav-item col">
          <a routerLink="/home" class="nav-link text-decoration-none text" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item col">
          <a routerLink="/documents" class="nav-link text-decoration-none text" aria-current="page" href="">Documents</a>
        </li>
        <li class="nav-item col">
          <a routerLink="/profiles" class="nav-link text-decoration-none text" aria-current="page" href="">Profile</a>
        </li>
        <li class="nav-item col">
          <a class="nav-link text-decoration-none text" aria-current="page" href="">Help</a>
        </li>

      </ul>
      <div class=" sign col-md-5" (mouseleave)="hide()" (mouseover)="open()">
        <div  class="position-absolute top-50 end-0 translate-middle-y ">

        <span class="text ps-3 pe-3 fs-1">
          <i class="fa fa-user-circle"></i>
        </span>
        </div>
        <div class="col-md-3 position-absolute top-0 end-0  overlay text-center text-light" style="background-color: #664c75">
          <div class="row border-bottom p-1"><a routerLink="/roles" class="text-light  text-decoration-none " >Roles</a></div>
          <div class="row border-bottom p-1"><a class="text-light  text-decoration-none" routerLink="/validate">Validate</a></div>
          <div class="row border-bottom p-1"><a class="text-light  text-decoration-none" routerLink="/index">Index</a></div>
          <div class="row border-bottom p-1"><a routerLink="/topic-tree" class="text-light  text-decoration-none" href="#">Topic Tree</a></div>
<!--
          <div class="row border-bottom p-1"><a class="text-light  text-decoration-none" href="#">Statistics</a></div>
-->
          <div class="row border-bottom p-1"><a routerLink="/accounts/{{user_id}}"class="text-light  text-decoration-none">Account</a></div>
          <div class="row border-bottom p-1"><a routerLink="/accounts/eligible"class="text-light  text-decoration-none" href="">Eligible Emails</a></div>
          <div class="row  p-1"><a class="text-light  text-decoration-none" (click)='signOut()' style="cursor: pointer;">SignOut</a></div>
        </div>


      </div>

    </div>
  </div>
</nav>
