

.overlay {
display: none;
  z-index: 100;
}
.text {
  font-family: input;
  color: #8d639d!important;
}
@media screen and (min-width: 640px) {
  #navbar .logo img {
    width: 7vw;
  }

}

  @media screen and (max-width: 650px) {
    #navbar .logo img {
      width:70px;
    }

  }
