@font-face {
  font-family: logoFont;
  src: url(src/assets/fonts/Plaster-Regular.ttf);
}

@font-face {
  font-family: typeFont;
  src: url(src/assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: qustionFont;
  src: url(src/assets/fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: typeFont;
  src: url(src/assets/fonts/Roboto/Roboto-Light.ttf);
}
.footer{
  background: #8d639d;
  margin-top: 1rem;
}
.links {
  border-bottom: 4px solid #969696 !important;
  color: #969696;
}

.links a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 1.5vw;
}

.links a:hover {
  cursor: pointer;
  color: #969696;
  transition: 0.3s ease-in-out;
}
@media screen and (min-width: 640px) {
  .links a {
    font-size: 12px;
  }


}

@media screen and (max-width: 650px) {
  .links a  {
    font-size: 10px;
  }

}
