<div class="footer">
<!--  <div class="col-md-8 offset-md-2 p-2 links col-sm-12">
    <div class="row">
      <div class="col-md-3 text-center p-3">
        <a href="">About CRIOS</a>
      </div>
      <div class="col-md-3 text-center p-3">
        <a href="">Terms and Condition</a>
      </div>
      <div class="col-md-3 text-center p-3">
        <a href="">Our Partner</a>
      </div>
      <div class="col-md-3 text-center p-3">
        <a href="">Contact us</a>
      </div>
    </div>
  </div>-->
  <div class="col-md-6 offset-md-3 p-2">
    <div class="row">
      <div class="col-md-12 text-center text-light">
        <p>CRIOS Platform &copy;2021 | Powered by LIU</p>
      </div>
    </div>
  </div>
</div>
