@import "../../../../app/pages/profiles/add-profile/add-profile.component.css";
#fileName{
  background: white url("src/assets/My Documents Page/Search Icon@2x.png")95% 50%  no-repeat;
  background-size: 2.0vw;


}
#fileUrl{
  background: white url("src/assets/My Documents Page/URL Icon@2x.png")95% 50% no-repeat  ;
  background-size: 2.0vw;

}

input::placeholder {
  color: #c3c1c4;
}
textarea::placeholder {
  color: #c3c1c4;
}
.input-file-container{
  border-radius: 20px;
  background-color: #664c75;
  padding: 7%;
}
.overlay{
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(102, 76, 117,0.60);
}
.overlay h1{
  color: white;
  position: absolute;

  text-align: center;
}

.error {
  color: gray;
}

.margin-for-progressbar{
  margin-bottom: 15px;
  margin-top: 15px;
}

/* for nested-mat-tree */
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}
