
<div class=" modal fade p-0 " id="deleteDocument" tabindex="-1" aria-labelledby="deleteDocument">

  <a class="rounded-circle close-btn btn position-absolute top-0 end-0 m-3 fs-1" data-bs-dismiss="modal" #closeModalBtn>
  </a>


  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content p-3">

      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 m-auto border-bottom-style">
            <div class="modal-header justify-content-center">
              <img src="assets/My Documents Page/Delete Document icon@2x.png" alt="" width="50">
              <div class="modal-title text fs-4 p-1" id="exampleModalLabel">Delete Document</div>

            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12 text-center m-2">
            <p class="text fs-5">You Ask to delete a Document, Are you sure?</p>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <div class="col-md-3 col-5 m-auto button-e p-1 fs-4 " (click)="deleteDoc()">

          <a>Delete Document</a>
        </div>

        <div class="col-md-3 col-5 m-auto button-e p-1 fs-4 ">


          <a data-bs-dismiss="modal">Cancel</a>

        </div>


      </div>
    </div>
  </div>
</div>
