<div class=" modal fade p-0 " id="requestNewTopic" tabindex="-1" aria-labelledby="requestNewTopic">
	<a #closeModalBtn class="rounded-circle close-btn btn position-absolute top-0 end-0 m-3 fs-1" data-bs-dismiss="modal"></a>
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content p-3">
			<form ngNativeValidate (submit)="save()">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-8 m-auto ">
							<div class="modal-header justify-content-center border-0">
								<div class="modal-title text fs-5">
									Kindly I need to add the following to the topic tree:
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10 textarea-div m-auto m-2">
							<textarea 
								[(ngModel)]="topicDescription" 
								style="width: 100%; border: 0px" 
								name="topicDescription" 
								cols="30" 
								rows="7"
								maxlength="255"
								required
							></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer justify-content-center border-0">
					<div class="button-e p-1">
						<button class="btn" type="submit" [disabled]="loading">
							SAVE CHANGES 
							<i class="fa fa-save ps-md-4 ps-sm-2"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>