<app-header></app-header>
<div class="row">
	<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
	<div class="col-md-12 text-center p-4 "
		style="background: url('assets/homeIcon/Header-BG.png') center center no-repeat;background-size: cover">
		<h1 class="text-light big-title">
			<img src="assets/profile/Profiles%20Icon@2x.png" alt="Profile" width="100" />
			Profiles
		</h1>
	</div>
</div>
<div *ngIf="!profileList.length && !loading" class="row p-3 position-relative ">
	<div class="col-md-4 col-10  m-auto button-e ">
		<h2>
			<a routerLink="/profiles/add" href="">ADD A PROFILE <i class="fa fa-plus-circle"></i></a>
		</h2>
	</div>
</div>
<div class="row mb-4 p-2">
	<div *ngIf="!profileList.length && !loading; else profiles" class="empty-profile col-md-8 m-auto p-2">
		<div class="col-md-8 m-auto">
			<div class="row">
				<div class="col-md-4 col-12 m-auto text-center p-2">
					<img src="assets/profile/Icons_Role%20Empty@2x.png" alt="" width="130">
				</div>
				<div class="col-md-8 col-12 m-auto text-muted p-2">
					<div class="row fs-1">
						<h1><strong>NO Profiles YET</strong></h1>
					</div>
					<div class="row fs-3">
						<h4><strong>Add a new Profile</strong></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ng-template #profiles>
		<div *ngIf="profileList.length > 0; else firstTimeLoading" class="col-md-10 col-12 m-auto p-2">
			<div class="row">
				<div class="col-md-3  mt-auto mb-auto col-6 ">
					<div class="w-100 title fs-4">My Profiles</div>
				</div>
				<div class="col-md-2  mt-auto mb-auto col-6 button-e p-1">
					<a class="w-100 btn fs-5" routerLink="/profiles/add">Add a Profile <i class="fa fa-plus-circle"></i></a>
				</div>
				<div class="col-md-6 col-10 m-md-auto request-edit-topic-tree mt-2 me-auto ms-auto">
					<a class="w-100 btn " data-bs-toggle="modal" data-bs-target="#requestNewTopic">
						Request to update topics or subtopic on the Topic Tree
					</a>
				</div>
			</div>
			<div class="profiles-table row p-md-2">
				<div *ngFor="let profile of profileList">
					<app-profile 
						[profile]="profile"
						[loading]="loading"
						(getProfiles)="getProfiles()"
						(setLoading)="setLoading($event)"
					></app-profile>
				</div>
			</div>
		</div>
		<ng-template #firstTimeLoading>
			<div
				style="transform: scale(0.7)"
				class="d-flex justify-content-center mt-3"
			>
				<mat-spinner></mat-spinner>
			</div>
		</ng-template>
	</ng-template>
</div>
<app-request-new-topic
	[loading]="loading"
	(setLoading)="setLoading($event)"
></app-request-new-topic>
