.empty-profile{
  border: 2px solid #8d639d;
  border-radius: 20px;
}
.profiles-table{
  margin-top: 15px;
  height: 222px;
  overflow-y: scroll;
}
/* width */
.profiles-table::-webkit-scrollbar {
  width: 10px;
  border: 1px solid gray;
  border-radius: 10px;

}

/* Track */
.profiles-table::-webkit-scrollbar-track {

}

/* Handle */
.profiles-table::-webkit-scrollbar-thumb {
  background: #664c75;
  border-radius: 10px;

}

/* Handle on hover */
.profiles-table::-webkit-scrollbar-thumb:hover {
  background: #564060;
}
.request-edit-topic-tree {
  border: 1px solid #8d639d;
  border-radius: 10px;
}
.request-edit-topic-tree a{
  color: #664c75;
  font-weight: bold;
}
.request-edit-topic-tree:hover{
  color: #ffffff;
  background-color: #664c75;
}.request-edit-topic-tree:hover a{
   color: #ffffff;
 }
