<nav class="navbar navbar-expand-lg navbar-light   w-100 p-1 " id="navbar">

  <div class="row ">
    <div class="col-6 m-auto">
      <a class="navbar-brand logo" href="/">
        <img id="logo" src="assets/homeIcon/Logo.png" alt=""></a>
    </div>
    <div class="col-lg-2 offset-lg-4 col-md-4 offset-md-2 col-6 mt-md-auto mt-2">
      <div class="w-100 sign d-flex justify-content-end position-relative p-2 "  (mouseleave)="hide()" (mouseover)="open()">
        <div class="">
          <img class="" id="icon" src="{{src_image}}" alt="icon" >
        </div>
        <div id="overlay" class="col-12  position-absolute top-50 end-0 translate-middle-y overlay text-center text-light" style="background-color: #664c75">
          <div class="row border-bottom">
            <a class="text-light fs-6 text-decoration-none " routerLink="/signin">Sign In</a></div>
          <div class="row">
            <a class="text-light fs-6 text-decoration-none" routerLink="/signup" href="#">Sign Up</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</nav>


<div class="headers d-flex align-items-center">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 text-center">
        <img class="logo" src="assets/Logo.svg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="info">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
        <div class="row">
          <div class="offset-md-4 col-md-4 p-2  mt-4 mb-3">
            <div class="d-flex justify-content-center border-bottom">
              <h1 class="text-center">WHAT IS CRIOS?</h1>
            </div>
          </div>
        </div>
        <div class="row pb-5">
          <div class="col-md-12">
            <div class="container about">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad corporis dolores, eos eveniet fuga molestias
              odit veniam. Assumenda doloribus dolorum iusto quidem voluptatem! Consequatur corporis delectus facere,
              illum nesciunt quasi qui sint soluta totam voluptatum. Consequuntur dolor ea harum ipsum, laborum, minus
              modi nam officiis omnis possimus quae quibusdam rem! Ab beatae blanditiis, consequuntur corporis cumque
              earum, eos esse excepturi expedita fugiat in ipsa laboriosam laborum libero minus mollitia nisi numquam
              odit quae qui quis sit soluta tempore tenetur veniam vero voluptate voluptatum. Consequatur, modi
              voluptatum. Mollitia sit, vel! Aperiam atque dolor libero quibusdam sapiente. Aliquid doloremque earum et
              tempore?
            </div>
          </div>
        </div>
        <div class="row pt-5" style="background-color: #8d639d">
          <div class="offset-md-2 col-md-8 col-sm-12 pb-4">
            <div class="row text-center text-white">
              <div class="col-4">
                <div class="row  icons-group">
                  <div class="col-md-12">
                    <div class="icons rounded-circle bg-white">
                      <img class="" src="assets/homeIcon/Icons_Document.png" alt="" width="50%">
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 number" *ngIf="stats">
                    {{stats.Documents}}
                  </div>
                </div>
                <div class="row mt-2 type">
                  <div class="col-md-12">
                    Documents
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="row   icons-group">
                  <div class="col-md-12">
                    <div class="icons rounded-circle bg-white">
                      <img src="assets/homeIcon/Icons_User.png" alt="" width="50%">
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 number" *ngIf="stats">
                    {{stats.Users}}
                  </div>
                </div>
                <div class="row mt-2 type">
                  <div class="col-md-12">
                    Users
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="row icons-group">
                  <div class="col-md-12">
                    <div class="icons rounded-circle bg-white">
                      <img src="assets/homeIcon/Icons_Tag.png" alt="" width="50%">
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 number" *ngIf="stats">
                    {{stats.Topics}}
                  </div>
                </div>
                <div class="row mt-2 type">
                  <div class="col-md-12">
                    Topic
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 bg-light pb-4">
            <div class="col-md-6 col-sm-8 m-auto pt-4 ">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="text-center big-title">dive in!</h1>
                </div>
              </div>

              <div class="row pt-2  ">
                <div class="offset-sm-2 col-sm-8 button-e">
                  <a routerLink="/signup" class="text-center text-light fs-3">Sign up
                    <img class="ms-2" src="assets/homeIcon/Sign%20Up-In_Icon.png" alt="icon" width="40">
                  </a>
                </div>
              </div>

            </div>
          </div>
          <!-- <app-footer class="p-0"></app-footer> -->
        </div>
      </div>
    </div>
  </div>
</div>


