#navbar {
  position: absolute;
  background-color: transparent;
  display: block;
  transition: 0.3s ease-in-out;
}
#logo{
  visibility: hidden;
}


.navbar .overlay a:hover {
  background: #8d639d;
  transition: 0.3s ease-in-out;
}

#navbar .logo img {
  width: 9%;
}

.overlay {
  visibility: hidden;
  transition: 0.5s ease-in-out;
}
.headers {
  padding: 5%;
  background-image: url("src/assets/homeIcon/Header-BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.logo{
  width: 40%;
}

.info .border-bottom {
  border-bottom: 4px solid #969696 !important;
  color: #969696;
  font-family: qustionFont, cursive;
  font-weight: bolder;
}
/*title and description of project*/
.big-title {
  font-family: logoFont, "Roboto Light";
  color: #8d639d;

}
.icons {
  transition: all 0.5s ease-in-out;
  width: 14vw;
  margin: 0 auto;
  line-height: 14vw;
  height: 14vw;


}

.icons-group:hover img {
  transform: rotate(-10deg);
  transition: 0.5s ease-in-out;

}

.icons-group img {
  transition: 0.5s ease-in-out;

}

.number {
  font-size: 3vw;
  font-family: qustionFont, sans-serif;

}

.type {
  font-size: 2.8vw;
  font-family: typeFont, sans-serif;
  font-weight: bolder;
}

.about {
  text-align: justify;
  text-justify: inter-word;
}


@media screen and (min-width: 640px) {

  #navbar .logo img {
    width: 15%;
  }
  .big-title {
    font-size: 70px;
  }
  .sign img {
    width: 35px;
  }

  .number {
    font-size: 3vw;

  }

  .type {
    font-size: 2.8vw;

  }

  .icons {
    width: 14vw;
    line-height: 14vw;
    height: 14vw;
  }
}

@media screen and (max-width: 650px) {

  #navbar .logo img {
    width: 32%;
  }
  .big-title {
    font-size: 45px;
  }

  .sign img {
    width: 30px;
  }

  .number {
    font-size: 5vw;

  }

  .type {
    font-size: 4vw;

  }

  .icons {
    width: 17vw;
    line-height: 17vw;
    height: 17vw;
  }
  #overlay{
    top: 70%;
    right: 10%;

  }
}
