<app-header></app-header>
<div>
	<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
	<div class="row b-title">
		<div 
			class="col-md-12 text-center p-4"
			style="background: url('assets/homeIcon/Header-BG.png') center center no-repeat; background-size: cover"
		>
			<h1 class="text-light big-title">
				<img src="assets/topic-tree/Topic%20Tree%20Icon.png" alt="icon" width="10%">
				Topic Tree
			</h1>
		</div>
	</div>
	<div id="body-container" class="mb-3 mt-2">
		<app-add-topic 
			[topicTree]="topicTree"
			[loading]="loading"
			(addTopic)="addAPITopic($event)"
		>
		</app-add-topic>
		<app-add-sub-topic 
			[loading]="loading"
			(addSubTopic)="addAPISubTopic($event)"
		></app-add-sub-topic>
		<app-edit-topic
			[loading]="loading"
			[topicTree]="topicTree"
			[selectedNodeID]="selectedNodeID"
			[selectedTitle]="selectedTitle"
			[selectedParentID]="selectedParentID"
			(editTopic)="editAPITopic($event)"
			(cancelEditTopicRequest)="cancelEditTopicRequest()"
		></app-edit-topic>
		<app-delete-topic 
			[loading]="loading"
			(deleteTopic)="deleteTopic($event)"
		></app-delete-topic>
		<div class="container">
			<div class="row p-2">
				<div class="col-md-5">
					<h3 class="title text-muted">All Topics</h3>
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-5 col-sm-5 button-e m-auto p-1">
							<a class="btn" href="" data-bs-toggle="modal" data-bs-target="#addTopicModal">ADD A TOPIC <i
								class="fa fa-plus-circle"></i>
							</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<form ngNativeValidate (submit)="searchTree()">
								<span class="d-flex">
									<input 
										class="form-control me-2" 
										name="search" 
										[(ngModel)]="search"
										(input)="onSearchChange()"
										type="search" 
										placeholder="Search" 
										aria-label="Search" 
										required 
									/>
									<button id="search" class="btn" type="submit">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 table-responsive rounded-3 p-2">
				<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
					<!-- This is the tree node template for leaf nodes -->
					<mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
						<!-- use a disabled button to provide padding for tree leaf -->
						<div class="col col-12 row rounded-3" [ngClass]="{'parent':isParent(node)}">
							<div class="col-md-1 col-2 mt-auto mb-auto">
								<button mat-icon-button disabled class="rounded-circle"></button>
							</div>
							<div class="col-md-1 col-2 topic-type mt-auto mb-auto"></div>
							<div class="col-md-7 col-7 mt-auto mb-auto"> {{node.title}}</div>
							<div class="col-md-3 col-12  mt-auto mb-auto">
								<div class="hidden-icons row w-75 ms-5" [ngClass]="{'text-white':isParent(node)}">
									<div 
										class="col-md-4 col-4" 
										style="cursor: pointer"
										(click)="selectNodeID(node.id)" 
										data-bs-toggle="modal" 
										data-bs-target="#subtopicModal"
									>
										<i class="fa fa-plus"></i>
									</div>
									<div 
										class="col-md-4 col-4"
										style="cursor: pointer"
										(click)="selectNode(node.id, node.title, node.topicparent_id)"
										data-bs-toggle="modal" 
										data-bs-target="#editModal"
									>
										<i class="fa fa-pen"></i>
									</div>
									<div 
										class="col-md-4 col-4"
										style="cursor: pointer"
										(click)="selectNodeID(node.id)"  
										data-bs-toggle="modal" 
										data-bs-target="#deleteModal"
									>
										<i class="fa fa-trash"></i>
									</div>
								</div>
							</div>
						</div>
					</mat-tree-node>
					<!-- This is the tree node template for expandable nodes -->
					<mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
						<div class="col col-12 row rounded-3" [ngClass]="{'parent':isParent(node)}">
							<div class="col-md-1 col-2 mt-auto mb-auto">
								<button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.title">
									<mat-icon class="mat-icon-rtl-mirror rounded-circle" [ngClass]="{'child-icon':isParent(node)}">
										{{treeControl.isExpanded(node) ? 'expand_more' : 'expand_less'}}
									</mat-icon>
								</button>
							</div>
							<div class="col-md-1 col-2  topic-type mt-auto mb-auto"></div>
							<div class="col-md-7 col-7  mt-auto mb-auto"> {{node.title}}</div>
							<div class="col-md-3 col-12  mt-auto mb-auto">
								<div class="hidden-icons row w-75 ms-5" [ngClass]="{'text-white':isParent(node)}">
									<div 
										class="col-md-4 col-4" 
										style="cursor: pointer"
										(click)="selectNodeID(node.id)" 
										data-bs-toggle="modal" 
										data-bs-target="#subtopicModal"
									>
										<i class="fa fa-plus"></i>
									</div>
									<div 
										class="col-md-4 col-4"
										style="cursor: pointer"
										(click)="selectNode(node.id, node.title, node.topicparent_id)"
										data-bs-toggle="modal" 
										data-bs-target="#editModal"
									>
										<i class="fa fa-pen"></i>
									</div>
									<div 
										class="col-md-4 col-4"
										style="cursor: pointer"
										(click)="selectNodeID(node.id)"  
										data-bs-toggle="modal" 
										data-bs-target="#deleteModal"
									>
										<i class="fa fa-trash"></i>
									</div>
								</div>
							</div>
						</div>
					</mat-tree-node>
				</mat-tree>
			</div>
			<div *ngIf="topicRequests.length > 0" class="row px-0">
				<div class="table-responsive" style="height: 300px; overflow-y: auto">
					<mat-progress-bar *ngIf="topicRequestLoading" mode="indeterminate"></mat-progress-bar>
    				<table class="table table-striped table-hover">
      					<thead 
						  	class="text-center" 
							style="position: sticky; top: 0; background-color: #f7f7f7cc; backdrop-filter: blur(5px)"
						>
							<tr>
								<th scope="col" class="text-secondary">User Name</th>
								<th scope="col" class="text-secondary">Topic Request</th>
								<th scope="col" class="text-secondary">Requested Date</th>
								<th scope="col" class="text-secondary">Actions</th>
							</tr>
						</thead>
						<tbody *ngFor="let topic of topicRequests">
							<tr class="text-center">
								<td scope="row">{{ topic.user_firstname }} {{ topic.user_lastname }}</td>
								<td scope="row" style="word-break: break-all">{{ topic.description }}</td>
								<td scope="row">{{ topic.updated_at | date: "fullDate" }}</td>
								<td scope="row">
									<button 
										[disabled]="topicRequestLoading"
										style="border: none"
										(click)="getEditRequestData(topic.id, topic.description)"
										data-bs-toggle="modal" 
										data-bs-target="#editModal"
									>
										<img src="assets/topic-tree/Edit.png" alt="Edit Request" width="26" />
									</button>
									<button 
										[disabled]="topicRequestLoading"
										(click)="removeTopicRequest(topic.id)" 
										style="border: none"
									>
										<img src="assets/My Documents Page/Delete.svg" alt="Delete Request" width="26" />
									</button>
								</td>
							</tr>
						</tbody>
    				</table>
  				</div>
			</div>
		</div>
	<br /><br />
</div>
