#body-container {
  height: 350px;
}

#topics {
  display: none;
  transition: 0.5s ease-in-out;
}


.table-responsive {
  padding: 0px;
  border: 2px solid #8d639d;
  height: 220px;
  margin-bottom: 5px;



}

/* width */
.table-responsive::-webkit-scrollbar {
  width: 10px;
  border: 1px solid gray;
}

/* Track */
.table-responsive::-webkit-scrollbar-track {
}

/* Handle */
.table-responsive::-webkit-scrollbar-thumb {
  background: #664c75;
}

/* Handle on hover */
.table-responsive::-webkit-scrollbar-thumb:hover {
  background: #564060;
}

.overlay3 {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
}


mat-tree-node {

  min-height: auto !important;
  background-color: #ffffff;
  color: #8d639d;
  transition: 0.5s ease-in-out;


}

mat-tree-node > div {
  border: 1px solid #8d639d;
  margin: 1px;
  transition: 0.5s ease-in-out;


}

mat-icon {
  background-color: #8d639d;
  color: white;
  margin: 0 auto;

}

.child-icon {
  background-color: #ffffff;
  color: #8d639d;
}

.parent {

  background-color: #8d639d;
  color: white;
}

.topic-type {
  margin: auto;
  height: 20px;
  background: url("src/assets/topic-tree/Subtopic Icon.svg") center center no-repeat;
  background-size: contain;

}

.hidden-icons {
  color: #8d639d;
  visibility: hidden;
  transition: 0.5s ease-in-out;

}

.parent .topic-type {
  margin: auto;
  height: 20px;
  background: url("src/assets/topic-tree/Topic Folder Icon.svg") center center no-repeat;
  background-size: contain;
}



mat-tree-node > div:hover .hidden-icons {
  visibility: visible;

}mat-tree-node > .parent:hover {
   background-color: #664c75;
 }

mat-tree-node > .parent:hover .hidden-icons {
  visibility: visible;
  transition: 0.5s ease-in-out;

}
