<div class="row  border-all  p-1 m-1">
  <div class="col-md-12">
    <div class="d-flex justify-content-between  border-b  p-1">
      <div class="text">{{role.title}}</div>
      <div class="col-md-2 col-5">
        <div class="row col-md-9 m-auto role-icons ">
          <!--
                    <div id="hidden-info" class=" position-absolute bg-transparent p-0 text-muted  end-100 top-50 translate-middle">Here is the explanation</div>
          -->
          <!--
                    <div class="col-md-3 col-3 m-auto p-1 "><a class=""><i class="fas fa-info"></i></a></div>
          -->
          <div class="col-md-3 col-3 m-auto p-1  dropstart">
            <a class="d-block text-white" data-bs-toggle="dropdown"
               aria-expanded="false">
              <i class="fas fa-info"></i>
            </a>

            <div
              class="dropdown-menu    text-muted top-50 end-100 translate-middle-y text-end p-1 me-2">
              Here is
              the explanation
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi aperiam iusto laudantium molestiae nulla reiciendis rem rerum sed soluta.
            </div>

          </div>
          <div 
            class="col-md-3 col-3 m-auto p-1"  
            (click)="setRoleId(role.id)"
            data-bs-toggle="modal" 
            data-bs-target="#deleteRole"
            >
            <a>
              <i
            class="fas fa-trash"></i>
            </a>
          </div>
          <div class="col-md-3 col-3 m-auto p-1"><a class="text-white" routerLink="{{role.id}}/edit"><i
            class="fas fa-pen"></i></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 ">
    <div class="row role-icons p-1">
<!--      <div class="col-md-1 col-2 m-md-1 m-auto p-1" *ngFor="let item of privileges"><i class="fas fa-key"></i> {{item}}
      </div>-->
      <div class="dropdown col-md-1 col-2 m-md-1 m-auto p-1" *ngFor="let privilege of role.privileges">
        <a class="pr text-white text-decoration-none d-block" href="#" role="button"   data-bs-toggle="" aria-expanded="false">
          <i class="fas fa-key"></i> {{privilege.code}}
        </a>

        <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
          {{privilege.description}}
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <ng-template #popup let-d="dismiss">

    <a class="rounded-circle close-btn btn position-fixed top-0 end-0 m-3 fs-1" (click)="d();">
    </a>
      <div class="modal-content p-3">
  
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 m-auto border-bottom-style">
              <div class="modal-header justify-content-center">
                <img src="assets/topic-tree/Delete%20Topic%20icon.png" alt="" width="50">
                <div class="modal-title text fs-4 p-1" id="exampleModalLabel">Delete Role</div>
  
              </div>
            </div>
  
          </div>
          <div class="row">
            <div class="col-md-12 text-center m-2">
              <p  class="text fs-5">You are to delete a Role, Are you sure?</p>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <div class="col-md-3 m-auto button-e p-0 ">
  
            <a (click)="delete(role.id);d()" >Delete Role</a>
          </div>
  
          <div class="col-md-3 m-auto button-e p-0 ">
  
  
            <a (click)="d()">Cancel</a>
  
          </div>
  
  
        </div>
      </div>

</ng-template> -->

