
.sign-image {
  width: 30%;
}

.form input {
  /*font-family: input, sans-serif;*/
  /*color: #af81c6;*/
  /*border: none;*/
  /*border-radius: 0;*/
  /*border-bottom: 2px solid #af81c6;*/
  border: 2px solid #664c75;
  border-radius: 20px;
  color: #664c75;
  font-size: 14px;
}

.form input::placeholder {
  color: #af81c6;
}

#email, #login-email {
  background: url("src/assets/signin-up/Email.png") no-repeat 94% center;
  background-size: 1.4vw;

}

#password, #login-password {
  background: url("src/assets/signin-up/Password.png") no-repeat 94% center;
  background-size: 1.2vw;

}


.sign-option .g-login:hover, .sign-option .e-login:hover {
  cursor: pointer;
  filter: brightness(50%);
  transition: 0.5s ease-in-out
}

.links {
  color: #664c75;
  text-decoration: none;
}

.links:hover {
  color: #5b4669;
  text-decoration: underline;
}


.setDark {
  filter: brightness(70%);

}

.setDefault {

  filter: brightness(100%);
}


@media screen and (min-width: 640px) {
  .sign-image {
    width: 30%;
  }

  .forms {
    height: 640px;
  }
}

@media screen and (max-width: 650px) {
  .sign-image {
    width: 20%;
    margin-bottom: 10px !important;
  }
}


@media screen and (min-width: 640px) {



  .create-form input[name='gender'] {
  transform: scale(2);
  }
  .form-header {

  font-size: 30px;

}

  .birthday img{
    width: 30px;

  }

}

@media screen and (max-width: 650px) {


  .create-form input[name='gender'] {
  transform: scale(2);
  }
  .form-header {

  font-size: 20px;

}

  .birthday img{
    width: 15px;

  }

}

.header-title {
  background: #664c75;
}

.signup-form {
  border: 3px solid #664c75;
}

.form-header {
  background: white;

}

.create-form input, .create-form select, .create-form textarea {
  border: 2px solid #664c75;
  border-radius: 20px;
  color: #664c75;
  font-size: 14px;

}

.create-form > div > div > .row {
  padding: 7px 0;
}
.create-form input[type='radio']{
  background: white;
}
.create-form input[type='radio']:checked{
  transform: scale(2);
  background: #664c75;
  border: 1px solid #664c75
}

