<div *ngIf="!signUpSuccess" class="row position-relative forms" id="first-form">
  <div class="position-absolute top-0 start-0">
    <div class="p-2 ">
      <div class="row">
        <div class="col-md-12">
          <a routerLink="/">
            <img class="backArrow" src="assets/signin-up/icon (1).svg" alt="" width="45"
                 onmouseover="this.src='assets/signin-up/icon.svg'"
                 onmouseout="this.src='assets/signin-up/icon (1).svg'"
            /></a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-md-6 d-flex align-items-center pb-2"
    style="
      background-size: cover;
      background: url('assets/signin-up/BG.png') center center;
    "
  >
    <div>
      <div class="row mt-4 mb-sm-3 pb-sm-1">
        <div class="col-md-8 offset-md-2 text-center pb-md-0 pb-sm-1">
          <img
            class="sign-image"
            src="assets/homeIcon/Sign%20Up-In_Icon.png"
            alt=""
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 p-md-4 p-sm-3">
          <div class="d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <img class="logo" src="assets/Logo.svg" alt=""/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-4">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-12 text-center"><h1 class="title">Welcome</h1></div>
      </div>
      <div class="row m-3">
        <div class="col-md-12 text-center">
          <h5 class="text">
            Please create an account to access our search engine
          </h5>
        </div>
      </div>
      <div class="col-md-8 m-auto">
        <div class="row">
          <table class="sign-option table text-center">
            <tr>
              <td
                (click)="email()"
                class="col-3 border-0 e-login"
                [ngClass]="{ setDark: option, setDefault: !option }"
                style="
                  background: url('assets/signin-up/Mail.png') center
                    center no-repeat;
                  background-size: contain;
                "
              ></td>
              <td class="col-6 border-0 text-center">
                <div class="title">OR</div>
              </td>
              <td
                (click)="gmail()"
                class="col-3 border-0 g-login"
                [ngClass]="{ setDark: !option, setDefault: option }"
                style="
                  background: url('assets/signin-up/Google.png') center
                    center no-repeat;
                  background-size: contain;
                "
              ></td>
            </tr>
          </table>
        </div>
      </div>

      <div *ngIf="existingEmail" class="row text-center p-4">
        <p class="text fs-6 ">
          This email is already registered!
          <a class="links" routerLink="/signin">Sign In now!</a>
        </p>
      </div>

      <div *ngIf="nonEligibleEmail" class="row text-center p-4">
        <p class="text fs-6 ">
          This email is not eligible to sign up!
        </p>
      </div>


      <div *ngIf="option" class="row form" id="form">
        <div class="container">
          <form
            [formGroup]="signUpForm"
            #signupForm="ngForm"
          >
            <div class="p-md-2 p-sm-1">
              <input
                formControlName="emailFormControl"
                [(ngModel)]="iemail"
                id="email"
                type="email"
                class="form-control"
                placeholder="Email"
                required
                (ngModelChange)="changeEmail()"
              />
              <div class="input-error">
                <span *ngIf="signUpForm.get('emailFormControl').hasError('required')">
                  Email is <strong>required</strong>
                </span>

                <span
                  *ngIf="
                    signUpForm.get('emailFormControl').hasError('email')
                  "
                >
                  Please enter a valid email address</span
                >
              </div>
            </div>
            <div class="p-md-2 p-sm-1">
              <input
                formControlName="passwordFormControl"
                [(ngModel)]="password"
                id="password"
                type="password"
                class="form-control"
                placeholder="Password"
                required
                (keyup)="checkMatchValidator(password, repassword)"
              />
              <div class="input-error">
                <span
                  *ngIf="
                    signUpForm.get('passwordFormControl').hasError('required')
                  "
                >
                  Password is <strong>required</strong></span
                >
                <span
                  *ngIf="
                    signUpForm.get('passwordFormControl').hasError('minlength')
                  "
                >
                  Password should be at least 8 characters
                </span>
              </div>
            </div>
            <div class="p-md-2 p-sm-1">
              <input
                formControlName="repasswordFormControl"
                [(ngModel)]="repassword"
                type="password"
                id="login-password"
                class="form-control"
                placeholder="Confirm Password"
                required
                (keyup)="checkMatchValidator(password, repassword)"
              />
              <div class="input-error">
                <span
                  *ngIf="
                    signUpForm.get('repasswordFormControl').hasError('required')
                  "
                >
                  Reenter Password is <strong>required</strong></span
                >

                <span
                  *ngIf="
                    !equal &&
                    !signUpForm.get('repasswordFormControl').hasError('required')
                  "
                >
                  Make Sure the passwords are the same</span
                >
              </div>
            </div>
            <div class="col-8 me-auto ms-auto mb-3">
              <div class="row button-e p-md-2 p-sm-1">
                <button (click)="signUpRequest()" type="submit" class="btn" [disabled]='!this.signUpForm.valid'>
                  Sign Up
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="!option" class="row form" id="google-form">
        <div class="container">
          <form>
            <div class="col-8 me-auto ms-auto m-5">
              <div class="row button-e p-md-2 p-sm-1 pt-sm-1 pb-sm-1">
                <button type="submit" class="btn" (click)="signUpWithGoogle()">
                  Sign Up with Google
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row text-center p-4">
        <p class="text fs-6">
          Already have an account?
          <a class="links" routerLink="/signin">Sign In now!</a>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 2ND FORM -->

<div class="mb-2" *ngIf="signUpSuccess">
  <div class="row header-title headers p-0 pt-2">
    <div class="col-md-12 text-center p-2">
      <img src="assets/Logo.svg" alt="logo" width="200"/>
      <!--      <div class="row d-flex justify-content-center">
        <h1 class="text-center text-light big-title fs-2">cr<i class="fa fa-search"></i>os</h1>
      </div>
      <div class="row d-flex justify-content-center fs-6">
        <p class="text-center text-light describe">tailored search engine</p>
      </div>-->
    </div>
  </div>
  <div class="row p-md-5 p-3 mt-3">
    <div class="col-md-10 offset-md-1 signup-form p-4 position-relative">
      <div class="position-absolute top-0 start-0 translate-middle-y">
        <h1 class="text form-header ps-3 pe-4 mb-2">Create An Account</h1>
      </div>
      <div
        class="
          position-absolute
          top-0
          start-100
          translate-middle
          bg-light
          rounded-circle
          p-2
          shadow
          mb-5
          bg-body
          rounded
        "
      >
        <img src="assets/homeIcon/Icons_User.png" alt="" width="50"/>
      </div>

      <form
        class="row create-form"
        [formGroup]="form"
        (ngSubmit)="saveAccount()"
        #createAccountForm="ngForm"
      >
        <div class="col-md-6 col-sm-12">
          <div class="col-md-10 m-auto">
            <div class="row m-auto">
              <label for="fname" class="form-label col-md-4 text"
              >First Name</label
              >
              <div class="col-md-8">
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  formControlName="fNameFormControl"
                  required
                  [maxLength]=32
                />
                <div class="input-error">
                  <span
                    *ngIf="form.get('fNameFormControl').hasError('required')"
                  >
                    First Name is <strong>required</strong></span
                  >
                  <span
                    *ngIf="form.get('fNameFormControl').hasError('maxlength')"
                  >
                    Maximum number of characters is <strong>32</strong></span
                  >
                </div>
              </div>
            </div>
            <div class="row m-auto">
              <label for="lname" class="form-label col-md-4 text"
              >Last Name</label
              >
              <div class="col-md-8">
                <input
                  type="text"
                  class="form-control"
                  id="lname"
                  formControlName="lNameFormControl"
                  required
                  [maxLength]=32
                />
                <div class="input-error">
                  <span
                    *ngIf="form.get('lNameFormControl').hasError('required')"
                  >
                    Last Name is <strong>required</strong></span
                  >
                  <span
                    *ngIf="form.get('lNameFormControl').hasError('maxlength')"
                  >
                    Maximum number of characters is <strong>32</strong></span
                  >
                </div>
              </div>
            </div>
            <div class="row m-auto">
              <label class="form-label col-md-4 text">Gender</label>
              <div class="col-md-8">
                <div class="form-check">
                  <div class="row">
                    <div class="col-6">
                      <input
                        [checked]="true"
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="male"
                        value="Male"
                        formControlName="gender"
                      />
                      <label class="form-check-label text ps-2" for="male">
                        Male
                      </label>
                    </div>
                    <div class="col-6">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="female"
                        value="Female"
                        formControlName="gender"
                      />
                      <label class="form-check-label text ps-2" for="female">
                        Female
                      </label>
                    </div>
                  </div>
                  <div class="input-error"></div>
                </div>
              </div>
            </div>
            <div class="row m-auto birthday">
              <label for="birthday" class="form-label col-md-4 text"
              >Birthday</label
              >
              <div class="col-md-8 col-12">
                <input
                  type="date"
                  class="form-control"
                  id="birthday"
                  formControlName="birthdayFormControl"
                  required
                />
                <div class="input-error">
                  <span
                    *ngIf="form.get('birthdayFormControl').hasError('required')"
                  >
                    Birthday is <strong>required</strong></span
                  >
                </div>
              </div>
            </div>
            <!-- <div class="row m-auto">
              <label for="nationality" class="form-label col-md-4 text"
                >Nationality</label
              >
              <div class="col-md-8">
                <select
                  id="nationality"
                  class="form-select"
                  formControlName="nationalityFormControl"
                >
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
                <div
                  class="input-error"
                  *ngIf="
                    form.get('nationalityFormControl').hasError('required') &&
                    createAccountForm.submitted
                  "
                >
                  Nationality is <strong>required</strong>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="col-md-11 m-auto">
            <div class="row m-auto">
              <label for="phone" class="form-label col-md-4 text">Phone</label>
              <div class="col-md-8">
                <input
                  type="text"
                  class="form-control"
                  id="phone"
                  formControlName="phoneFormControl"
                  [maxLength]=16
                />
                <div class="input-error">
                  <span
                    *ngIf="form.get('phoneFormControl').hasError('maxlength')"
                  >
                    Maximum number of characters is <strong>16</strong></span
                  >
                </div>
              </div>
            </div>
            <div class="row m-auto">
              <label for="mobile" class="form-label col-md-4 text"
              >Mobile</label
              >
              <div class="col-md-8">
                <input
                  type="text"
                  class="form-control"
                  id="mobile"
                  formControlName="mobileFormControl"
                  required
                  [maxLength]=16
                />
                <div class="input-error">
                  <span
                    *ngIf="form.get('mobileFormControl').hasError('required')"
                  >
                    Mobile is <strong>required</strong></span
                  >
                  <span
                    *ngIf="form.get('mobileFormControl').hasError('maxlength')"
                  >
                    Maximum number of characters is <strong>16</strong></span
                  >
                </div>
              </div>
            </div>
            <div class="row m-auto">
              <label for="country" class="form-label col-md-4 text"
              >Country</label
              >
              <div class="col-md-8">
                <select
                  id="country"
                  class="form-select"
                  formControlName="countryFormControl"
                >
                  <option
                    *ngFor="let country of countries"
                    [ngValue]="country.id"
                  >
                    {{ country.name }}
                  </option>
                </select>
                <div class="input-error">
                  <span
                    *ngIf="form.get('countryFormControl').hasError('required')"
                  >
                    Country is <strong>required</strong></span
                  >
                </div>
              </div>
            </div>
            <div class="row m-auto">
              <label for="address" class="form-label col-md-4 text"
              >Address</label
              >
              <div class="col-md-8">
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  placeholder=""
                  formControlName="addressFormControl"
                  required
                  [maxLength]=255
                />
                <div class="input-error">
                  <span
                    *ngIf="form.get('addressFormControl').hasError('required')"
                  >
                    Address is <strong>required</strong></span
                  >
                  <span
                    *ngIf="form.get('addressFormControl').hasError('maxlength')"
                  >
                    Maximum number of characters is <strong>255</strong></span
                  >
                </div>
              </div>
            </div>
            <div class="row m-auto">
              <label for="b-email" class="form-label col-md-4 text"
              >Backup Email</label
              >
              <div class="col-md-8">
                <input
                  type="email"
                  class="form-control"
                  id="b-email"
                  placeholder=""
                  formControlName="backupEmailFormControl"
                  [maxLength]=64
                />
                <div class="input-error">
                  <span
                    *ngIf="
                      form.get('backupEmailFormControl').hasError('maxlength')
                    "
                  >
                    Maximum number of characters is <strong>64</strong></span
                  >

                  <span
                    *ngIf="form.get('backupEmailFormControl').hasError('email')"
                  >
                    Please enter a valid email address</span
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <label for="biography" class="form-label col-md-4 text"
              >Biography</label
              >
              <div class="col-md-8 col-12">
                <textarea
                  class="p-2 w-100"
                  name="biography"
                  id="biography"
                  cols="38"
                  rows="4"
                  formControlName="biographyFormControl"
                  [(ngModel)]="bio"
                  [maxLength]=255
                ></textarea>
                <div class="input-error" style="margin-top: -9px">
                  <span> {{ bio.length }}/255 </span>
                  <br/>

                  <span
                    *ngIf="
                      form.get('biographyFormControl').hasError('required')
                    "
                  >
                    Biography is <strong>required</strong></span
                  >
                  <span
                    *ngIf="
                      form.get('biographyFormControl').hasError('maxlength')
                    "
                  >
                    Maximum number of characters is <strong>255</strong></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-1">
          <div
            class="
              position-absolute
              top-100
              start-50
              translate-middle
              w-50
              button-e
            "
          >
            <button type="submit" class="btn ms-auto me-auto fs-3" [disabled]='!this.form.valid'>
              Save Account
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
