<div class="row position-relative" id="first-form">
  <div class="position-absolute top-0 start-0">
    <div class="p-2 ">
      <div class="row">
        <div class="col-md-12">
          <a routerLink="/">
            <img class="backArrow" src="assets/signin-up/icon (1).svg" alt="" width="45"
                 onmouseover="this.src='assets/signin-up/icon.svg'"
                 onmouseout="this.src='assets/signin-up/icon (1).svg'"
            /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 d-flex align-items-center pb-2"
       style="background-size: cover;background: url('assets/signin-up/BG.png') center center;">
    <div>
      <div class="row mt-4 mb-sm-3 pb-sm-1">
        <div class="col-md-8 offset-md-2 text-center pb-md-0 pb-sm-1">
          <img class="sign-image" src="assets/homeIcon/Sign%20Up-In_Icon.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 p-md-4 p-sm-3">
          <div class=" d-flex align-items-center">
            <div class="container">
              <div class="row ">
                <div class="col-md-12 text-center">
                  <img class="logo" src="assets/Logo.svg" alt="">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-4 m-auto">
    <div *ngIf='!this.emailSent' class="col-md-10 offset-md-1">
      <div class="row mb-3">
        <div class="col-md-12 text-center"><h1 class="title">Forgot Password</h1>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-md-12 text-center">
          <h5 class="text">Please write your Email to reset your password</h5>
        </div>
      </div>


      <div class="row form" id="login-form">
        <div class="col-md-10 offset-md-1">
          <form [formGroup]="form" (ngSubmit)="submit()" #loginForm="ngForm">

            <div class="mb-3 p-md-2 ">
              <input class="form-control" type="email" id="login-email" formControlName="emailFormControl"
                     placeholder="Enter Your Email" required>
              <div class="input-error" *ngIf="form.get('emailFormControl').hasError('required')">
                Email is <strong>required</strong>
              </div>
              <div class="input-error" *ngIf="form.get('emailFormControl').hasError('email')">
                Please enter a valid email address

              </div>
            </div>


            <div class="mb-3 p-2 w-100">
              <div class="row">
                <div class="col-8 m-auto">
                  <div class="row button-e p-2 ">
                    <button type="submit" class=" btn fs-3">Reset Password</button>

                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>



    </div>
    <div *ngIf='this.emailSent' class="col-md-10 offset-md-1">
      <div class="col-md-12 text-center"><h1 class="title">Email Sent Successfully</h1>
      </div>
      <div class="row m-3">
        <div class="col-md-12 text-center">
          <h5 class="text">Please check your Email to reset your password</h5>
        </div>
      </div>
    </div>
  </div>
</div>


