<div 
	(click)="cancelEditModal()" 
	class="modal fade p-0" 
	id="editModal" 
	tabindex="-1" 
	aria-labelledby="editModal" 
>
  	<a 
	  	#closeModalBtn 
		(click)="cancelEditModal($event)"
		class="rounded-circle close-btn btn position-absolute top-0 end-0 m-3 fs-1" 
		data-bs-dismiss="modal"
	></a>
	<div (click)="stopPropagation($event)" class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content p-3">
			<form ngNativeValidate (submit)="save()">
				<div class="modal-header justify-content-center">
					<img src="assets/topic-tree/Edit%20Topic%20icon.png" alt="" width="50">
					<h5 class="modal-title text fs-4 p-3" id="exampleModalLabel">Edit Topic</h5>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label for="topic-name-edit" class="form-label text">Topic Name</label>
						<input 
							type="text" 
							class="form-control" 
							id="topic-name-edit" 
							[(ngModel)]="title"
							name="title"
							maxlength="64"
							required 
						/>
					</div>
					<div class="mb-3">
						<label class="form-label text">Parent Topic</label>
						<select 
							[(ngModel)]="selectedTopic" 
							name="selectedTopic"
							class="form-select" 
							aria-label="Select"
							required
						>
							<option value="null">No Parent Topic</option>
							<option *ngFor="let branch of parentTopics" [value]="branch.id">
								{{branch.title}}
							</option>
						</select>
					</div>
				</div>
				<div class="modal-footer justify-content-center">
					<div class="button-e p-1">
						<button class="btn" type="submit" [disabled]="loading">
							SAVE CHANGES <i class="fa fa-save ps-md-4 ps-sm-2"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>