.empty-role {
  border: 2px solid #8d639d;
  border-radius: 20px;
}

.roles-table {
  margin-top: 15px;
  height: 222px;
  overflow-y: scroll;
}

/* width */
.roles-table::-webkit-scrollbar {
  width: 10px;
  border: 1px solid gray;
  border-radius: 10px;

}

/* Track */
.roles-table::-webkit-scrollbar-track {

}

/* Handle */
.roles-table::-webkit-scrollbar-thumb {
  background: #664c75;
  border-radius: 10px;

}

/* Handle on hover */
.roles-table::-webkit-scrollbar-thumb:hover {
  background: #564060;
}

/*.add-hover{
  height: 50px;
  transition: all 0.5s linear;
  background: url('../../../../assets/roles/Create Role@2x.png') center center no-repeat;
  background-size: contain;
}

.add-hover:hover {
  cursor: pointer;
  background: url('../../../../assets/roles/{activeState.name} (Hover State)-11@2x.png') center center no-repeat;
  background-size: contain;}*/
img, svg {
  vertical-align: sub!important;
}
