<app-header></app-header>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="row">
  <div
    class="col-md-12 text-center p-4"
    style="
      background: url('assets/homeIcon/Header-BG.png') center center
        no-repeat;
      background-size: cover;
    "
  >
    <h1 class="text-light big-title">
      <img src="assets/roles/Roles Icon.png" alt="" width="100" />
      Roles
    </h1>
  </div>
</div>
<div *ngIf="roles" class="row p-3 position-relative">
  <div class="col-md-4 col-10 m-auto button-e" *ngIf="roles.length == 0 && !isEmptyRole">
    <h2>
      <a routerLink="/roles/add" href=""
        >Create a Role <i class="fa fa-plus-circle"></i
      ></a>
    </h2>
  </div>
</div>
<div class="row mb-4 p-2">
  <div *ngIf="!isEmptyRole && roles.length == 0" class="empty-role col-md-8 m-auto p-2">
    <div class="col-md-8 m-auto">
      <div class="row">
        <div class="col-md-4 col-12 m-auto text-center p-2">
          <img
            src="assets/roles/Icons_Role Empty.png"
            alt=""
            width="130"
          />
        </div>
        <div class="col-md-8 col-12 m-auto text-muted p-2">
          <div class="row fs-1">
            <h1><strong>NO ROLES YET</strong></h1>
          </div>
          <div class="row fs-3">
            <h4><strong>Create a new role</strong></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="roles.length != 0" class="col-md-10 col-12 m-auto p-2">
    <div class="row">
      <div class="col-md-3 offset-md-6 m-auto col-5 button-e">
        <a class="w-100 btn fs-4" routerLink="/roles/add"
          >Create a Role <i class="fa fa-plus-circle"></i
        ></a>
      </div>
      <div class="col-md-3 col-5 m-auto button-e">
        <a class="w-100 btn fs-4" routerLink="/roles/assign"
          >Assign Role <i class="fa fa-check-circle"></i
        ></a>
      </div>
    </div>
    <div class="roles-table row p-md-2">
      <app-role
         *ngFor="let role of roles" [role]="role"
         (selectedRoleId)="setRoleId($event)"
        >
      </app-role>
    </div>
  </div>
</div>



<app-delete-role
  (deleteRole)="deleteRole($event)"
></app-delete-role>
