<app-header></app-header>
<div class="row">
  <div class="col-md-12 text-center p-4 "
       style="background: url('assets/homeIcon/Header-BG.png') center center no-repeat;background-size: cover">
    <h1 class="text-light big-title"><img src="assets/My Documents Page/Documents Icon@2x.png" alt=""
                                          width="100"> Documents</h1>


  </div>
</div>
<div class="container-fluid">
  <div class="row mt-4">
    <div class="row">
      <div class="col-md-5 col-10 button-e m-auto"><a routerLink="/documents/add" class="fs-3">NEW DOCUMENT <i
        class="fa fa-plus-circle"></i></a>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-lg-4">
        <nav mat-tab-nav-bar mat-align-tabs="left" backgroundColor="primary" class="d-inline-block text-white">
        <a class="text-dark" mat-tab-link
           (click)="activeLink = 'All Documents'"
           [active]="activeLink == 'All Documents'"
           routerLink="/documents/all">All Documents </a>
        <a class="text-dark" mat-tab-link
           (click)="activeLink ='My Documents'"
           [active]="activeLink == 'My Documents'"
           routerLink="/documents/mine"> My Documents </a>
      </nav></div>


      <router-outlet></router-outlet>
    </div>
    <div class="">
      <div class="row ">
        <div class="">
          <div class="row mb-2   document-help">
            <div class="col-md-4 p-2">
              <div class="row">
                <div class="col-6"><img src="assets/My%20Documents%20Page/Index%20Icon.svg" alt=""
                                        width="35">
                  Indexed
                </div>
                <div class="col-6"><img src="assets/My%20Documents%20Page/Validate%20Icon.svg" alt=""
                                        width="20">
                  Validated
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>







