@import url(../../../pages/index/index.component.css);
.target a{
  color: #664c75!important;
  background-color: white;
  border-radius: 8px;
  transition: 0.5s ease-in-out;
}
.target a:hover{
  color: white!important;
  background-color: #664c75;
}
.user-table .fa {
  color: #8d639d;
  font-size: 20px;
}
.document-help > div{
  color: #664c75;
  border: 1px solid #664c75;
  border-radius: 10px;
}

.mat-tab-group.mat-background-primary > .mat-tab-header .mat-tab-label, .mat-tab-group.mat-background-primary > .mat-tab-link-container .mat-tab-link, .mat-tab-nav-bar.mat-background-primary > .mat-tab-header .mat-tab-label, .mat-tab-nav-bar.mat-background-primary > .mat-tab-link-container .mat-tab-link {
  color: white!important;
}
