@import "../../../app/small-component/add-topic/add-topic.component.css";
@import "../../../app/pages/profiles/add-profile/add-profile.component.css";

.role-icons div {
  color: white;
  border-radius: 10px;
  background-color: #664c75;
  font-size: 14px;
  text-align: center;
  transition: 0.5s ease-in-out;

}
.role-icons .col-md-3:hover {
  cursor: pointer;
  background: #40334a;
  color: white !important;

}

