<div class=" modal fade p-0 " id="topicsTree" tabindex="-1" aria-labelledby="topicsTree">

  <a class="rounded-circle close-btn btn position-absolute top-0 end-0 m-3 fs-1" data-bs-dismiss="modal">
  </a>


  <div class="modal-dialog modal-dialog-centered  modal-xl">
    <div class="modal-content  bg-transparent border-0">

      <div class="modal-body">

        <div class="row bg-white  modal-content mb-5">
          <div class="w-100 m-auto ">
            <div class="modal-header border-bottom-style">
              <div class="modal-title text fs-4 p-1" id="exampleModalLabel">Topics</div>
            </div>
            <div class="row">
              <div class="row role-icons p-1">

                <div class=" col-md-1 col-5 m-md-1 m-auto p-1" *ngFor="let item of dataSource.data">
                  <a class="pr text-white text-decoration-none d-block">
                    <img src="assets/topic-tree/Topic Folder Icon.svg" alt="" width="20"> {{item.title}}
                  </a>

                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row bg-white p-3 modal-content ">
          <div class="col-md-12 ">
            <div class="col-md-12 table-responsive rounded-3 p-md-2">

              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                  <!-- use a disabled button to provide padding for tree leaf -->
                  <div class="col col-12 row rounded-3" [ngClass]="{'parent':isParent(node)}">
                    <div class="col-md-1 col-2 mt-auto mb-auto">
                      <button mat-icon-button disabled class="rounded-circle"></button>
                    </div>
                    <div class="col-md-1 col-2 topic-type mt-auto mb-auto"></div>
                    <div class="col-md-7 col-7 mt-auto mb-auto"> {{node.title}}</div>
                    <div class="col-md-3 col-12  mt-auto mb-auto">

                    </div>
                  </div>
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                  <div class="col col-12 row rounded-3" [ngClass]="{'parent':isParent(node)}">
                    <div class="col-md-1 col-2 mt-auto mb-auto">
                      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.title">
                        <mat-icon class="mat-icon-rtl-mirror rounded-circle" [ngClass]="{'child-icon':isParent(node)}">
                          {{treeControl.isExpanded(node) ? 'expand_more' : 'expand_less'}}
                        </mat-icon>
                      </button>
                    </div>
                    <div class="col-md-1 col-2  topic-type mt-auto mb-auto"></div>
                    <div class="col-md-7 col-7  mt-auto mb-auto"> {{node.title}}</div>
                    <div class="col-md-3 col-12  mt-auto mb-auto">
                  
                    </div>
                  </div>
                </mat-tree-node>
              </mat-tree>

            </div>

          </div>
        </div>
      </div>

      <div class="modal-footer justify-content-center">


        <div class="col-md-3 col-7 m-auto button-e p-0 ">


          <a data-bs-dismiss="modal">Cancel</a>

        </div>


      </div>
      
    </div>
  </div>
</div>