@import url(../../../../app/pages/roles/assign-role/assign-role.component.css);

.table-responsive          { overflow: auto; height: 200px; }
.table-responsive thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#664c75; }


