<app-header></app-header>
<div class="row">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div class="col-md-12 text-center p-4 "
       style="background: url('assets/homeIcon/Header-BG.png') center center no-repeat;background-size: cover">
    <h1 class="text-light big-title">
      <img src="assets/eligible-emails/User Icon@2x.png" alt="" width="11%"> Eligible Emails</h1>
  </div>
</div>

<div class="row m-4">

  <div class="col-md-8 m-auto table-responsive " >
    <table class=" w-100 user-table table-striped table table-fixed">
      <thead class="text-center">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody class="p-2" style="overflow-y: scroll">
      <tr *ngFor="let eligible of eligibleUsers">
        <td scope="row">{{eligible.username}}</td>
        <td>{{eligible.email}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12 p-2 sm-3 mt-4">
<!--    <div class="m-auto col-md-4 button-e ">
      <a data-bs-toggle="modal" data-bs-target="#addEmail" href="" type="submit" class="btn ms-auto me-auto fs-3 ">ADD EMAIL</a>

    </div>-->
    <div class="col-5 offset-2 button-e m-auto ">
      <a href="" data-bs-toggle="modal" data-bs-target="#addEmail">ADD EMAIL
      </a>

    </div>
  </div>

</div>

<app-add-email (refreshEligible)="getEligibleUsers()"></app-add-email>
