<div class="modal fade p-0" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal">
	<a #closeModalBtn class="rounded-circle close-btn btn position-absolute top-0 end-0 m-3 fs-1" data-bs-dismiss="modal"></a>
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content p-3">
			<form ngNativeValidate (submit)="deleteBranch()">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6 m-auto border-bottom-style">
							<div class="modal-header justify-content-center">
								<img src="assets/topic-tree/Delete%20Topic%20icon.png" alt="" width="50">
								<div class="modal-title text fs-4 p-1" id="exampleModalLabel">Delete Topic</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center m-2">
							<p class="text fs-5">You are to delete a Topic, Are you sure?</p>
						</div>
					</div>
				</div>
				<div class="modal-footer justify-content-center">
					<div class="button-e p-0">
						<button 
							[disabled]="loading" 
							type="submit" 
							class="btn"
						>
							Delete Topic
						</button>
					</div>
					<div class="col-md-3 m-auto button-e p-0">
						<button 
							type="button" 
							class="btn"
							(click)="closeModal()"
						>
							Do not Delete a Topic
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>