<div class="row border-all p-1 m-1">
	<div class="col-md-12">
		<div class="d-flex justify-content-between border-b p-1">
			<div class="text">{{ profile.title }}</div>
			<div class="col-md-1 col-5">
				<div class="row col-md-9 m-auto role-icons">
					<div class="col-md-5 col-3 m-auto p-1" data-bs-toggle="modal" data-bs-target="#deleteProfile">
						<a><i class="fas fa-trash"></i></a>
					</div>
					<div class="col-md-5 col-3 m-auto p-1">
						<a 
							class="text-white" 
							routerLink="/profiles/{{ profile.id }}/edit"
						>
							<i class="fas fa-pen"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="row role-icons p-1">
			<div 
				class="dropdown col-md-2 col-2 m-md-1 m-auto p-1"
				*ngFor="let topic of profile.topics; let topicIndex = index"
			>
				<img *ngIf="topicIndex % 2 === 0" src="assets/topic-tree/Topic Folder Icon.svg" alt="Topic Folder" width="25" />
				<img *ngIf="topicIndex % 2 !== 0" src="assets/topic-tree/Subtopic Icon.svg" alt="Subtopic Icon" width="25" />
				{{ topic.topictreetitle }}
				<div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
					{{ topic.description }}
				</div>
			</div>
		</div>
	</div>
</div>
<app-delete-profile 
	[id]="profile.id"
	[loading]="loading"
	(getProfiles)="updateProfiles()"
	(setLoading)="updateLoading($event)"
></app-delete-profile>