.role-icons div {
  color: white;
  border-radius: 10px;
  background-color: #664c75;
  font-size: 14px;
  transition: 0.5s ease-in-out;

}

.border-b {
  border-bottom: 2px solid #8d639d;
}

.border-all {
  border: 2px solid #8d639d;
  border-radius: 5px;
}

.role-icons .col-md-3:hover {
  cursor: pointer;
  background: #40334a;
  color: white !important;

}

.role-icons .text-muted {
  line-height: 15px;
  width: 600px;
  transition: 0.5s ease-in-out;
  border: 0;
  border-radius: 0;
  border-right: 2px solid #664c75;
  background-color: white;
  z-index: 0;
}

.example-list {
  width: 100px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.example-list > li {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding: 8px 0;
}

.example-list > li:last-child {
  border-bottom: none;
}

@media screen and (min-width: 1150px) {
  .role-icons .text-muted {

    width: 600px;

  }
}
@media screen and (min-width: 660px)and (max-width: 1150px) {
  .role-icons .text-muted {

    width: 400px;
    border: 2px solid #664c75;
    top: 40px!important;
    text-align: left!important;
  }
}

@media screen and (max-width: 650px) {
  .role-icons .text-muted {

    width: 160px;
    border: 2px solid #664c75;
    top: 60px!important;
    text-align: left!important;

  }
}
.dropdown:hover .dropdown-menu,.dropstart:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
