<app-header></app-header>
<div class="row">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div
    class="col-md-12 text-center p-4"
    style="
      background: url('assets/homeIcon/Header-BG.png') center center
        no-repeat;
      background-size: cover;
    "
  >
    <h1 class="text-light big-title">
      <img src="assets/roles/Roles Icon.png" alt="" width="100" />
      Roles
    </h1>
  </div>
</div>
<div class="col-md-12 p-0 mb-2">
  <div class="row info">
    <div class="col-lg-3 col-md-4 col-6 m-auto p-2">
      <div class="d-flex justify-content-center border-bottom p-2">
        <img
          class="m-auto"
          src="assets/roles/Edit Topic icon@2x.png"
          alt=""
          width="60"
        />
        <h1 class="text-center m-auto">EDIT ROLE</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <form
      class="row create-form p-1"
      [formGroup]="form"
      (ngSubmit)="submit()"
      #createAccountForm="ngForm"
    >
      <div class="container">
        <div class="col-md-10 offset-md-1">
          <div class="row p-1">
            <label for="title" class="form-label col-md-12 text fs-4"
              >Title</label
            >
            <div class="col-md-12">
              <input
                type="text"
                class="w-100 form-control"
                id="title"
                formControlName="titleFormControl"
                required
              />

              <div class="input-error">
                <span
                  *ngIf="
                    form.get('titleFormControl').hasError('required') &&
                    createAccountForm.submitted
                  "
                >
                  Title of Role is <strong>required</strong></span
                >
              </div>
            </div>
          </div>

          <div class="row p-1">
            <label for="privileges" class="form-label text fs-4"
              >Privileges
            </label>
            <div class="row">
              <div class="col-lg-4 col-md-6 m-auto p-0">
                <select
                  [(ngModel)]="selectedPrivilege"
                  id="privileges"
                  class="form-select"
                  formControlName="privilegesFormControl"
                >
                  <option
                    *ngFor="let privilege of privileges"
                    value="{{ privilege.id }}"
                  >
                    {{ privilege.code }}
                  </option>
                </select>
              </div>
              <!-- <div class="col-md-1 col-4   p-2 m-auto " (click)="addToRolePrivileges()">

                <div class="add-privilege">
                </div>
              </div> -->
              <div class="col-lg-7 col-12 m-auto privileges-items">
                <div class="row">
                  <div
                    class="col-md-2 col-4 m-auto privileges p-2"
                    *ngFor="let item of role_privileges"
                  >
                    <!--
                                        <a>{{item}} <i (click)="delete(item)" class="fa fa-times"></i></a>
                    -->
                    <a
                      role="button"
                      class="d-flex align-items-center justify-content-between"
                      ><span>{{ item.code }}</span>
                      <mat-icon (click)="delete(item)">clear</mat-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row p-1">
            <label for="title" class="form-label col-md-12 text fs-4"
              >Description
            </label>
            <div class="col-md-12">
              <textarea
                class="w-100 p-2 col-md-12"
                name="biography"
                id="biography"
                cols="38"
                rows="4"
                formControlName="descriptionFormControl"
                placeholder="Write a Description for the Role"
              ></textarea>
              <div class="input-error" style="margin-top: -9px">
                <span
                  *ngIf="
                    form.get('descriptionFormControl').hasError('required') &&
                    createAccountForm.submitted
                  "
                >
                  Description is <strong>required</strong></span
                >
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-md-12">
        <div class="m-auto col-md-4 button-e">
          <button type="submit" class="btn ms-auto me-auto fs-2">
            Save Role
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
