.info .border-bottom {
  border-bottom: 4px solid #8d639d !important;
  color: #8d639d;
  font-family: qustionFont, serif;
  font-weight: 300;
}

.privileges  {
  background: #664c75;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}
.add-privilege{
  height: 40px;
  background: url("src/assets/roles/Plus-4@2x.png") no-repeat center center;
  background-size: contain;
  transition: 0.3s ease-in-out;

}.add-privilege:hover{
  cursor: pointer;
  background: url("src/assets/roles/{activeState.name} (Hover State)-12@2x.png") no-repeat center center;
  background-size: contain;

}
.privileges a {
  transition: 0.5s ease-in-out;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white!important;

}
/*.privileges:hover {
  cursor: pointer;
  background: #40334a;
  color: white!important;

}*/
.create-form input, .create-form select, .create-form textarea {
  border: 2px solid #664c75;
  border-radius: 20px;
  color: #664c75;

}
@media screen and (max-width: 650px) {

  .privileges-items {
    height: 80px;
  }
}
