.account-info {
  padding: 0px;
  border: 2px solid #8d639d;
  margin-bottom: 5px;
  border-radius: 22px;


}

.account-info .border-bottom {
  border-bottom: 2px solid #8d639d !important;
  font-weight: bolder;font-size: 19px}

.account-info .text {
  font-family: sans-serif!important;
  font-size: 17px;
}
.paragraph{
  text-align: justify;
  font-size: 15px;
}
