<app-header></app-header>
<div>
  <div class="row b-title">

    <div class="col-md-12 text-center p-4 "
         style="background: url('assets/homeIcon/Header-BG.png') center center no-repeat;background-size: cover">

      <h1 class="text-light big-title"><img class="bg-white rounded-circle "
                                            src="assets/account/User Icon@2x.png" alt="icon"
                                            width="13%"> Account</h1>

    </div>
  </div>
  <div id="body-container" class=" mb-3 mt-4">
    <div class="container p-2">
      <div class="row">
        <div class="col-md-12 account-info  p-2">
          <div class="">
            <div class="row border-bottom">
              <div class="col-6 text"><img class="p-2" src="assets/account/Male.svg" alt="" width="44">
                {{user_data.firstname}} {{user_data.lastname}}
              </div>
              <div class="col-6 text text-end mt-auto mb-auto ">{{user_data.birthdate}}</div>
            </div>
            <div class="row text mt-3">
              <div class="col-md-6 mt-2 ps-0 pe-0">
                <div class="row">
                  <div class="col-2 text-center m-auto"><img src="assets/account/Location.svg" alt=""
                                                             width="22"></div>
                  <div class="col-10">
                    <div class="row">{{user_data.country.name}}</div>
                    <div class="row">{{user_data.address}}</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mt-2 ps-0 pe-0 m-auto  ">
                <div class="row ">
                  <div class="col-2 text-center m-auto"><img src="assets/account/Mobile.svg" alt=""
                                                             width="22"></div>
                  <div class="col-10 mt-auto mb-auto">{{user_data.country.phonecode}} {{user_data.mobile}}</div>
                </div>
              </div>

              <div class="col-md-6 mt-2 ps-0 pe-0">
                <div class="row">
                  <div class="col-2 text-center m-auto"><img src="assets/account/Email.svg" alt=""
                                                             width="30"></div>
                  <div class="col-10">
                    <div class="row">{{user_data.email}}</div>
                    <div class="row">{{user_data.secondemail}}</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mt-2 ps-0 pe-0 m-auto ">
                <div class="row ">
                  <div class="col-2 text-center m-auto"><img src="assets/account/Phone.svg" alt=""
                                                             width="34"></div>
                  <div class="col-10 mt-auto mb-auto">{{user_data.country.phonecode}} {{user_data.landline}}</div>
                </div>
              </div>
            </div>
            <div class="row text mt-3">
              <div class="container p-lg-4 p-sm-3  paragraph">
                {{user_data.biography}}
              </div>
            </div>
          </div>
        </div>
        <div class="ps-0 pe-0">
          <div class="row justify-content-between mt-3">
            <div class="col-lg-3 col-md-4 col-sm-5 ps-0 pe-0 mt-2 ">
              <div class="button-e fs-4">
                <a href="" routerLink="/accounts/{{user_data.id}}/edit">Edit Account</a></div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 ps-0 pe-0 mt-2">

              <div class="button-e fs-4">
                <a data-bs-toggle="modal" data-bs-target="#changePassword" href="">
                  Change Passwords</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-change-password></app-change-password>
