
<div class=" modal fade p-0 " id="deleteRole" tabindex="-1" aria-labelledby="deleteRole">

  <a  #closeModalBtn class="rounded-circle close-btn btn position-absolute top-0 end-0 m-3 fs-1" data-bs-dismiss="modal">
  </a>


  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content p-3">

      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 col-md-10 m-auto border-bottom-style">
            <div class="modal-header justify-content-center">
              <img src="assets/topic-tree/Delete%20Topic%20icon.png" alt="" width="50">
              <div class="modal-title text fs-4 p-1" id="exampleModalLabel">Delete Role</div>

            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12 text-center m-2">
            <p class=" " class="text fs-5">You are to delete a Role, Are you sure?</p>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center text-center">
        <div class="col-lg-3 col-md-5 col-6 m-auto button-e p-1 fs-3">

          <a 
            (click)="deleteRoleId()"
          >
            Delete Role
          </a>
        </div>

        <div class="col-lg-3 col-md-5 col-6 m-auto button-e p-1 fs-3">


          <a  data-bs-dismiss="modal">Cancel</a>

        </div>


      </div>
    </div>
  </div>
</div>
