<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div id="allDocument" class="mb-2">
  <div class="table-responsive" style="height: 300px; overflow-y: scroll">
    <table class="table w-100 user-table table-striped">
      <thead class="text-center">
        <tr>
          <th scope="col">Document</th>
          <th scope="col">Title</th>
          <th scope="col">Topics</th>
          <th scope="col">User</th>
          <th scope="col">Status</th>
          <th scope="col">View</th>
          <th scope="col">Upcoming Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allDocuments; let i = index" class="text-center">
          <td scope="row">{{ item?.name }}.{{ item?.format }}</td>
          <td>{{ item.title }}</td>

          <td class="">
            <a
              (click)="openModalViewTopicTree(item.topics)"
              data-bs-toggle="modal"
              data-bs-target="#topicsTree"
            >
              <img
                src="assets/My Documents Page/Open Topics Icon2.svg"
                alt=""
                width="29"
              />
            </a>
          </td>
          <td>{{ item?.user[0]?.firstname }} {{ item?.user[0]?.lastname }}</td>
          <td>
            <div *ngIf="item?.status == 3">
              <img
                src="assets/My Documents Page/Index Icon.svg"
                alt=""
                width="27"
              />
            </div>

            <div *ngIf="item?.status == 2">
              <img
                src="assets/My Documents Page/Validate Icon.svg"
                alt=""
                width="22"
              />
            </div>

            <div *ngIf="item.status == 1" style="cursor: pointer;">
              <img
                src="assets/My Documents Page/View.svg"
                alt=""
                width="22"
              />
            </div>
          </td>
          <td>
            <a
              class="icon-hover"
              (click)="openModalViewDocument(item?.path)"
              data-bs-toggle="modal"
              data-bs-target="#viewDocument"
              ><img
                src="assets/My Documents Page/Open Topics Icon.svg"
                alt=""
                width="32"
              />
            </a>
          </td>
          <td>
            <img
              src="assets/My Documents Page/Delete.svg"
              *ngIf="item.status % 2 == 0"
              width="26"
            />
            <img
              src="assets/My Documents Page/Hide.svg"
              *ngIf="item.status % 2 != 0"
              width="30"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- view document -->
<!-- <ng-template #viewDocument let-d="dismiss">

  <a class="rounded-circle close-btn btn position-fixed m-3 fs-1" (click)="d();" style="margin: -10px;right:0px;top: -10px;">
  </a>

  <div class="modal-content p-3">

    <div class="modal-body">

      <embed [src]="passDocumentUrl" frameborder="0" width="100%" height="400px">
        <iframe height="450px" height="500" class="w-100" [src]="passDocumentUrl" allowfullscreen >
        </iframe>
      <object type="application/pdf" [data]="passDocumentUrl" width="100%" height="500">No Support</object>
    </div>
    <div class="modal-footer justify-content-center">


      <div class="col-md-3 col-7 m-auto button-e p-0 ">


        <a (click)="d();">Cancel</a>

      </div>


    </div>
  </div>

</ng-template> -->
<app-view-document [documentUrl]="passDocumentUrl"></app-view-document>
<app-tree-topic [topicTree]="passTopicTree"></app-tree-topic>
