<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div id="myDocument" class="">
  <div *ngIf="!documents" class="mb-2 mt-2 p-2">
    <div class="empty-document p-2">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-12 m-auto text-center p-2">
            <img
              src="assets/My Documents Page/Icons_Document Empty@2x.png"
              alt=""
              width="110"
            />
          </div>
          <div class="col-md-8 col-12 m-auto text-muted p-2">
            <div class="row fs-2">
              <h1><strong>NO Documents YET</strong></h1>
            </div>
            <div class="row fs-3">
              <h4><strong>Add a new document</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="documents" class="mb-2">
    <div class="table-responsive" style="height: 300px; overflow-y: scroll">
      <table class="table w-100 user-table table-striped">
        <thead class="text-center">
          <tr>
            <th scope="col">Document</th>
            <th scope="col">Title</th>
            <th scope="col">Topics</th>
            <th scope="col">Status</th>
            <th scope="col">View</th>
            <th scope="col">Actions</th>
            <th scope="col">Upcoming Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of documents; let i = index" class="text-center">
            <td scope="row">{{ item?.name }}.{{ item?.format }}</td>
            <td class="lh-base">{{ item.title }}</td>
            <td class="">
              <a
                class="icon-hover"
                (click)="openModalViewTopicTree(item.topics)"
                data-bs-toggle="modal"
                data-bs-target="#topicsTree"
              >
                <img
                  src="assets/My Documents Page/Open Topics Icon2.svg"
                  alt=""
                  width="29"
                />
              </a>
            </td>
            <td>
              <div *ngIf="item.status == 3">
                <img
                  src="assets/My Documents Page/Index Icon.svg"
                  alt=""
                  width="27"
                />
              </div>
              <div *ngIf="item.status == 2">
                <img
                  src="assets/My Documents Page/Validate Icon.svg"
                  alt=""
                  width="20"
                />
              </div>

            </td>
            <td>
              <a
                class="icon-hover"
                (click)="openModalViewDocument(item?.path)"
                data-bs-toggle="modal"
                data-bs-target="#viewDocument"
                ><img
                  src="assets/My Documents Page/Open Topics Icon.svg"
                  alt=""
                  width="32"
                />
              </a>
            </td>
            <td>
              <div class="row">
                <div class="col-4 text-center">
                  <a
                    class="icon-hover"
                    (click)="clickEvent(item.id)"
                    [ngStyle]="{'pointer-events': disableHide ? 'none' : 'unset'}"
                  >
                    <img
                      *ngIf="item.status != 0"
                      class="img-view"
                      src="assets/My Documents Page/View.svg"
                      alt=""
                      width="27"
                    />
                    <img
                      *ngIf="item.status == 0"
                      class="img-view"
                      src="assets/My Documents Page/image2vector.svg"
                      alt=""
                      width="27"
                    />
                  </a>
                </div>
                <div class="col-4 text-center">
                  <a
                    class="icon-hover"
                    routerLink="/documents/{{ item.id }}/edit"
                    ><img
                      src="assets/topic-tree/Edit.png"
                      alt=""
                      width="27"
                  /></a>
                </div>
                <div class="col-4 text-center">
                  <a
                    class="icon-hover"
                    (click)="openModalDeleteDocument(item.id)"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteDocument"
                    ><img
                      src="assets/topic-tree/Delete.png"
                      alt=""
                      width="27"
                  /></a>
                </div>
              </div>
            </td>
            <td>
              <img
                src="assets/My Documents Page/Delete.svg"
                *ngIf="item.status % 2 == 0"
                width="22"
              />
              <img
                src="assets/My Documents Page/Hide.svg"
                *ngIf="item.status % 2 != 0"
                width="27"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-delete-document (deleteDocument)="delete($event)"></app-delete-document>
<app-tree-topic [topicTree]="passTopicTree"></app-tree-topic>
<app-view-document [documentUrl]="passDocumentUrl"></app-view-document>

<!-- delete document -->
<!-- <ng-template #popup let-d="dismiss">


     <a class="rounded-circle close-btn btn position-fixed top-0 end-0 m-3 fs-1" (click)="d();">
     </a>

       <div class="modal-content p-3">

         <div class="modal-body">
           <div class="row">
             <div class="col-md-6 m-auto border-bottom-style">
               <div class="modal-header justify-content-center">
                 <img src="assets/topic-tree/Delete%20Topic%20icon.png" alt="" width="50">
                 <div class="modal-title text fs-4 p-1" id="exampleModalLabel">Delete Role</div>

               </div>
             </div>

           </div>
           <div class="row">
             <div class="col-md-12 text-center m-2">
               <p  class="text fs-5">You are to delete a Role, Are you sure?</p>
             </div>
           </div>
         </div>
         <div class="modal-footer justify-content-center">
           <div class="col-md-3 m-auto button-e p-0 ">

             <a (click)="delete();d()" >Delete Role</a>
           </div>

           <div class="col-md-3 m-auto button-e p-0 ">


             <a (click)="d()">Cancel</a>

           </div>


         </div>
       </div>

 </ng-template> -->
