<app-header></app-header>

<div class="w-100 header-img">
  <div class="head position-relative" style="height: 300px" #Header>
    <div
      class="
        container
        p-5
        text-center
        head
        position-absolute
        start-50
        top-50
        translate-middle
      "
    >
      <img class="logo" src="assets/Logo.svg" alt="" />
    </div>
  </div>
  <div class="container p-3">
    <div class="row p-3">
      <div class="col-md-5 col-lg-4 m-auto background">
        <div class="row">
          <div class="col-3 p-1 text-center">
            <img
              class="p-2 text-center"
              src="assets/home-page/Profiles Icon@2x.png"
              width="50"
            />
          </div>
          <div class="col-9 d-flex text p-1 profile fs-3">
            <div
              class="m-auto"
              data-bs-toggle="modal"
              data-bs-target="#chooseProfile"
            >
              Profile Name
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row w-50 m-auto" id="homeSearch">
        <div class="col-8">
          <input type="search"   [(ngModel)]="searchItem" class="form-control" />
        </div>
        <button class="col-4 button-e-search d-inline"
          (click)="Search()"
          [disabled]="loading"
        >
          <img
            class="pe-2 ps-2"
            src="assets/home-page/Search Icon.svg"
            alt=""
            width="40"
          />
          <span
            class="btn text-center d-inline fs-3 search-span"
          >
            Search
          </span>
          <!-- <button
            class="btn text-center d-inline fs-3"
            (click)="
              Header.style.opacity = '0';
              Header.style.height = '0';
              search.style.opacity = '1';
              search.style.display = 'block'
            "
          >
            Search
          </button> -->
        </button>
      </div>
    </div>
  </div>
</div>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="container-fluid p-3" id="search_div" #search >
  <ng-container *ngIf="documents.length; else noDocuments">
    <div class="row">
      <div class="col-md-8 m-auto table-border mt-2 table-responsive">
        <table class="table w-100 table-striped">
          <thead>
            <tr>
              <th class="text">Result</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of documents; let i = index">
              <td class="form-check-label">
                <div class="position-relative">
                  <div class="m-auto">
                    <input
                      class="
                        rounded-circle
                        position-absolute
                        top-50
                        start-0
                        checkbox-design
                      "
                      type="checkbox"
                      id="document{{ i }}"
                      (change)="handleDocumentCheck(item?.id)"
                    />
                  </div>
                </div>
                <div class="form-check ms-3">
                  <label
                    href=""
                    data-bs-toggle="modal"
                    data-bs-target="#viewDocument"
                    class="text-decoration-none data-text"
                    (click)="openModalViewDocument(item?.path)"
                  >
                    {{ item?.title }}
                  </label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3 m-auto table-border mt-2 table-responsive">
        <table class="table w-100 table-striped">
          <thead>
            <tr>
              <th class="text">Most Significant Terms</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of words; let i = index">
              <td class="form-check-label">
                <div class="position-relative">
                  <div class="m-auto">
                    <input
                      class="
                        rounded-circle
                        position-absolute
                        top-50
                        start-0
                        checkbox-design
                      "
                      type="checkbox"
                      id="topics{{ i }}"
                      (change)="handleWordsChange(i)"
                    />
                  </div>
                </div>
                <div class="form-check ms-3">
                  <label class="form-check-label" for="topics{{ i }}">
                    {{ item }}
                  </label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row p-3 m-2">
      <div class="col-lg-3 col-md-4 col-5 p-1 button-e">
        <a (click)="relevanceFeedback()" class="btn fs-5">Relevance Feedback</a>
      </div>
      <div
        class="
          col-lg-3
          offset-lg-6
          col-md-4 col-5
          offset-md-4 offset-2
          p-1
          button-e
        "
      >
        <a (click)="updateTerms()" class="btn fs-5">Update Terms</a>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #noDocuments>
  <div class="empty-role col-md-8 m-auto p-2">
    <div class="col-md-8 m-auto">
      <div class="row">
        <div class="col-md-4 col-12 m-auto text-center p-2">
          <img
            src="assets/My Documents Page/Icons_Document Empty@2x.png"
            alt=""
            width="130"
          />
        </div>
        <div class="col-md-8 col-12 m-auto text-muted p-2">
          <div class="row fs-1 text-center">
            <h1><strong>NO Result YET</strong></h1>
          </div>
          <div class="row fs-3 text-center">
            <h4><strong>Search for documents</strong></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-view-document
  [documentUrl]="passedDocPath"
></app-view-document>
<app-choose-profile></app-choose-profile>
