.background .col-2 {
}

.background {
  border-radius: 14px;
  background-color: white;
  padding: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.header-img .col-9 {
  border-left: 2px solid #8d639d;
  transition: 0.5s ease-in-out;
}



.header-img .col-9:hover {
  background-color: #d2d2d2;
  cursor: pointer;

}

.header-img {
  padding: 2%;
  background-image: url("src/assets/homeIcon/Header-BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: 0.5s ease-in-out;
}

#homeSearch input {
  border: none;
  height: 100%;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;

}

#homeSearch {
  border: 2px solid #8d639d;
  border-radius: 11px;
  overflow: hidden;
  background-color: #8d639d;

}

#homeSearch .button-e-search {
  border-radius: 0px;
  border: none;
  border: 2px solid #8d639d;
  border-radius: 11px;
  overflow: hidden;
  background-color: #8d639d;
}

#homeSearch .button-e {
  border-radius: 0px;
}

#homeSearch > div {
  padding: 0px;
}




.table-responsive{
  padding: 0px;
  border: 2px solid #8d639d;
  height: 500px;
  overflow-y: scroll
}

.table-responsive::-webkit-scrollbar-thumb {
  background: #8d639d;
  border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
  background: #564060;
  border-radius: 10px;
}

.table-responsive::-webkit-scrollbar {
  width: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.table-border {
  border: 2px solid #664c75;
  border-radius: 10px;
}

.data-text {
  color: #664c75;
  cursor: pointer;
}

.data-text:hover {
  color: #664c75;
}

tbody .form-check-label {
  color: #664c75;
}

.headers {
  padding: 5%;
  background-image: url("src/assets/homeIcon/Header-BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.logo {
  width: 40%;
}

@media screen and (max-width: 650px) {

  .logo {
    width: 80% !important;
  }

}

.head {
  overflow: hidden;
  opacity: 1;
  transition: all 1s ease-in-out;
}
#search_div {
  /* opacity: 0;

  display: none; */
  transition: all 1s ease-in-out;

}

.search-span{
  color: #fff;
}

.checkbox-design {
  width: 30px !important;
  height: 30px !important;
  border: 3px solid #8d639d;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
  font-size: 0.9em;
  text-align: center;
  line-height: 1em;
  background: #ffffff;
  font-weight: bolder;
  color: #664c75;
}

.checkbox-design:after {

}

.checkbox-design:checked:after {

  content: "✓";
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

