@import "../../../../app/pages/profiles/add-profile/add-profile.component.css";



.margin-for-progressbar{
    margin-bottom: 15px;
    margin-top: 15px;
  }


/* for nested-mat-tree */
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}

input::placeholder {
  color: #c3c1c4;
}
textarea::placeholder {
  color: #c3c1c4;
}
