<app-header></app-header>
<div class="row">
  <div class="col-md-12 text-center p-4 "
       style="background: url('assets/homeIcon/Header-BG.png') center center no-repeat;background-size: cover">
    <h1 class="text-light big-title"><img src="assets/My%20Documents%20Page/Documents%20Icon@2x.png" alt=""
                                          width="100">
      Documents</h1>


  </div>
</div>
<div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <div class="row info">
    <div class="offset-md-4 col-md-4 p-2  ">
      <div class="d-flex justify-content-center border-bottom p-2">
        <img class="m-auto " src="assets/My Documents Page/Edit Document icon@2x.png" alt="" width="70">
        <h1 class="text-center m-auto">EDIT DOCUMENT</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <form class="row g-3 create-form p-1" [formGroup]="form" (ngSubmit)="submit()" >
      <div class="col-md-8 m-auto col-sm-12">
        <div class="col-md-10 offset-md-1">
          <div class="row p-1">
            <label for="title" class="form-label col-md-12 text fs-4">Title</label>
            <div class="col-md-12">

              <input
                type="text"
                class="w-100 form-control"
                id="title"
                formControlName="title"
                required
                placeholder="Enter your title"
              >

              <div class="input-error">
                  <span   *ngIf="title.hasError('required') && (title.dirty || title.touched)">
                  Title of Document is <strong>required</strong></span>

              </div>
            </div>
          </div>


          <div class="row p-1">
            <p class="form-label col-12 text fs-4">Topics </p>

            <div class="col-md-6 "
              data-bs-toggle="modal"
              data-bs-target="#topicTree"
              >
              <div class="open-topic-tree">
                <a class="btn">Open Topic Tree</a>
              </div>
            </div>
          </div>

          <div *ngIf="flattenedTopicTree.length > 0" class="row p-1">
						<div class="col-12 topic-items">
							<div class="row">
								<div class="col-md-3 col-5 m-auto p-1" *ngFor="let topic of flattenedTopicTree">
									<div class="row" *ngIf="topic.checked">
										<div class="col-md-10 m-auto topics">
											<a style="cursor: auto;">
												{{ topic.title }} <i (click)="deleteTopic(topic.id)" style="cursor: pointer;" class="fa fa-times"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

          <div class="row p-1">
            <label for="title" class="form-label col-md-12 text fs-4">Description </label>
            <div class="col-md-12">

               <textarea class="p-2 col-md-12" name="biography" id="biography" cols="38" rows="4"
                         formControlName="description"
                         placeholder="Enter your description"></textarea>
              <div class="input-error" style="margin-top: -9px">
                  <span
                  *ngIf="description.hasError('required') && (description.dirty || description.touched)">
                  Description is <strong>required</strong></span>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-12">
        <div class="m-auto col-md-4 button-e ">
          <button type="submit" class="btn ms-auto me-auto fs-3"
          [disabled]="title.hasError('required') || description.hasError('required')"
          >
            Update Document
          </button>
        </div>
        <!-- <mat-progress-bar [ngClass]="{'margin-for-progressbar': isLoading}" *ngIf="isLoading" mode="indeterminate" ></mat-progress-bar> -->
      </div>


    </form>

  </div>

</div>


<!-- Modal -->
<div
	(click)="cancelTopicTree()"
	class="modal fade p-0"
	id="topicTree"
	tabindex="-1"
	aria-labelledby="topicTree"
>
	<a
		#closeModalBtn
		(click)="cancelTopicTree($event)"
		class="rounded-circle close-btn btn position-absolute top-0 end-0 m-3 fs-1"
		data-bs-dismiss="modal"
	>
	</a>
	<div (click)="stopPropagation($event)" class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content p-md-3">
			<div class="modal-header justify-content-center"></div>
			<div class="modal-body">
				<div class="col-md-12 table-responsive rounded-3 p-md-2">
					<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
						<!-- This is the tree node template for leaf nodes -->
						<mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
							<!-- use a disabled button to provide padding for tree leaf -->
							<div class="w-100 row rounded-3 border-0" [ngClass]="{'parent':isParent(node)}">
								<div class="col-1 mt-auto mb-auto">
									<button mat-icon-button disabled class="rounded-circle"></button>
								</div>
								<div class="col-md-2 col-2 topic-type mt-auto mb-auto"></div>
								<div class="col-md-6 col-5  mt-auto mb-auto">{{ node.title }}</div>
								<div class="col-md-1 col-2 mt-auto mb-auto p-2">
									<input
										(change)="updateTopicTree($event)"
										class="rounded-circle checkbox-design"
										[value]="node.id"
										[checked]="node.checked"
										type="checkbox"
									/>
								</div>
							</div>
						</mat-tree-node>
						<!-- This is the tree node template for expandable nodes -->
						<mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
							<div class="w-100 row rounded-3 border-0" [ngClass]="{'parent':isParent(node)}">
								<div class="col-1 mt-auto mb-auto">
									<button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.title">
										<mat-icon class="mat-icon-rtl-mirror rounded-circle"
											[ngClass]="{'child-icon':isParent(node)}">
											{{ treeControl.isExpanded(node) ? 'expand_more' : 'expand_less' }}
										</mat-icon>
									</button>
								</div>
								<div class="col-md-2 col-2 topic-type mt-auto mb-auto"></div>
								<div class="col-md-6 col-5 mt-auto mb-auto">{{ node.title }}</div>
								<div class="col-md-1 col-2 mt-auto mb-auto p-2">
									<input
										(change)="updateTopicTree($event)"
										class="rounded-circle checkbox-design"
										[value]="node.id"
										[checked]="node.checked"
										type="checkbox"
									/>
								</div>
							</div>
						</mat-tree-node>
					</mat-tree>
				</div>
			</div>
			<div class="modal-footer justify-content-center">
				<div (click)="saveTopicTree()" class="col-md-5 col-9 m-auto button-e p-1">
					<a data-bs-dismiss="modal">
						SAVE CHANGES <i class="fa fa-save ps-md-4 ps-sm-2"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
