.close-btn{
  width: 85px;
  height: 85px;
  background-image: url("src/assets/topic-tree/Close.png");
  background-size: cover;
  transition: 0.3s ease-in-out;
}

.close-btn:hover{
  background-image: url("src/assets/topic-tree/Close_Hover.png");

}
.modal-dialog input,.modal-dialog select{
  border: 2px solid #9a75a8;
  border-radius: 10px!important;

}
.border-bottom-style{
  border-bottom:3px solid #9a75a8 ;
}
@media screen and (min-width: 640px) {
  .close-btn{
    width: 85px;
    height: 85px;
  }
}
@media screen and (max-width: 650px) {
  .close-btn{
    width: 50px;
    height: 50px;
  }
}
