<div class="modal fade p-0" id="addTopicModal" tabindex="-1" aria-labelledby="addTopicModal">
	<a #closeModalBtn class="rounded-circle close-btn btn position-absolute top-0 end-0 m-3 fs-1" data-bs-dismiss="modal"></a>
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content p-3">
			<form ngNativeValidate (submit)="save()">
				<div class="modal-header justify-content-center"></div>
				<div class="modal-body">
					<div class="col-md-6 m-auto border-bottom-style">
						<div class="text-center text fs-4 p-3">
							<img src="assets/topic-tree/New Topic icon.png" alt="" width="50">
							New Topic
						</div>
					</div>
					<div class="mb-3 mt-2">
						<label class="form-label text">Title</label>
						<input 
							type="text" 
							name="title" 
							[(ngModel)]="title" 
							class="w-100 form-control" 
							maxlength="64"
							required 
						/>
					</div>
					<div class="mb-3">
						<label class="form-label text">Parent Topic</label>
						<select 
							[(ngModel)]="selectedTopic" 
							name="selectedTopic"
							class="form-select" 
							aria-label="Select"
							required
						>
							<option value="null">No Parent Topic</option>
							<option *ngFor="let branch of parentTopics" [value]="branch.id">
								{{branch.title}}
							</option>
						</select>
					</div>
				</div>
				<div class="modal-footer justify-content-center">
					<div class="button-e p-1">
						<button class="btn" type="submit" [disabled]="loading">
							SAVE CHANGES 
							<i class="fa fa-save ps-md-4 ps-sm-2"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>