<app-header></app-header>
<div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div class="row b-title">

    <div class="col-md-12 text-center p-4 "
         style="background: url('assets/homeIcon/Header-BG.png') center center no-repeat;background-size: cover">

      <div class=" row justify-content-center">
        <div class="col-4 text-end position-relative"><img class=" bg-white rounded-circle " style="border: 5px solid #664c75"
                                                           src="assets/account/User Icon@2x.png" alt="icon"
                                                           width="110">
          <div class="position-absolute bottom-0 end-0 rounded-circle p-2" style="background: #664c75"><img class=""
                                                                                                            src="assets/account/{activeState.name} (Hover State)-15@2x.png"
                                                                                                            alt="" width="30"></div>
        </div>
        <div class="text-light big-title col-6 m-auto ms-0 display-4">Edit Account</div>
      </div>

    </div>
  </div>
  <div id="body-container" class=" mb-3 mt-4">
    <div class="container p-2">
      <div class="row">
        <div class="col-md-12 table-responsive  p-2">
          <div class="">
            <form class="row  create-form" [formGroup]="form" (ngSubmit)="submit()" #createAccountForm="ngForm">
              <div class="col-lg-7  col-md-12">
                <div class="container-fluid">
                  <div class="row ">
                    <label for="fname" class="form-label col-lg-4 text">Name</label>
                    <div class="col-lg-4 col-6">
                      <input type="text" class="form-control" id="fname" formControlName="fNameFormControl" required>
                      <div class="input-error">
                  <span *ngIf="form.get('fNameFormControl').hasError('required') && createAccountForm.submitted">
                  First Name is <strong>required</strong></span>

                      </div>
                    </div>
                    <div class="col-lg-4 col-6">
                      <input type="text" class="form-control" id="lname" formControlName="lNameFormControl" required>
                      <div class="input-error">
                  <span *ngIf="form.get('lNameFormControl').hasError('required') && createAccountForm.submitted">
                  Last Name is <strong>required</strong></span>

                      </div>
                    </div>
                  </div>

                  <div class="row ">
                    <label for="phone" class="form-label col-lg-4 text">Phone</label>
                    <div class="col-lg-8">
                      <input type="text" class="form-control" id="phone" formControlName="phoneFormControl">
                      <div class="input-error">
                  <!-- <span
                    *ngIf="form.get('phoneFormControl').hasError('required') && createAccountForm.submitted">
                  Phone is <strong>required</strong></span> -->
                      </div>
                    </div>

                  </div>
                  <div class="row ">
                    <label for="mobile" class="form-label col-md-4 text">Mobile</label>
                    <div class="col-md-8"><input type="text" class="form-control" id="mobile"
                                                 formControlName="mobileFormControl" required>
                      <div class="input-error">
                  <span
                    *ngIf="form.get('mobileFormControl').hasError('required') && createAccountForm.submitted">
                  Mobile is <strong>required</strong></span>
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                    <label for="country" class="form-label col-md-4 text">Country</label>
                    <div class="col-md-8">

                      <select id="country" class="form-select" formControlName="countryFormControl" required>
                        <option
                          *ngFor="let country of countries"
                          [ngValue]="country.id"
                          [selected]="isSelected(country.id)"
                        >
                          {{country.name}}
                      </option>
                      </select>
                      <div class="input-error">
                  <span
                    *ngIf="form.get('countryFormControl').hasError('required') && createAccountForm.submitted">
                  Country is <strong>required</strong></span>
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                    <label for="address" class="form-label col-md-4 text">Address</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="address" placeholder=""
                             formControlName="addressFormControl" required>
                      <div class="input-error">
                  <span
                    *ngIf="form.get('addressFormControl').hasError('required') && createAccountForm.submitted">
                  Address is <strong>required</strong></span>
                      </div>
                    </div>


                  </div>
                  <div class="row ">
                    <label for="b-email" class="form-label col-md-4 text">Backup Email</label>
                    <div class="col-md-8">

                      <input type="email" class="form-control" id="b-email" placeholder=""
                             formControlName="backupEmailFormControl">
                      <div class="input-error">
             <!--      <span
                    *ngIf="form.get('backupEmailFormControl').hasError('required') && createAccountForm.submitted">
                  BackupEmail is <strong>required</strong></span> -->

                        <span
                          *ngIf="form.get('backupEmailFormControl').hasError('email') && createAccountForm.submitted">
                  BackupEmail is <strong>required</strong></span>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5  col-md-12">
                <div class="container-fluid">
                  <div class="row ">
                    <label class="form-label col-md-4 text">Gender</label>
                    <div class="col-md-8">
                      <div class="form-check">
                        <div class="row">
                          <div class="col-6">
                            <input class="form-check-input " type="radio" name="genderFormControl" id="male" value="Male" formControlName="genderFormControl">
                            <label class="form-check-label text ps-2" for="male">
                              Male
                            </label>
                          </div>
                          <div class="col-6">
                            <input class="form-check-input " type="radio" name="genderFormControl" id="female" value="Female" formControlName="genderFormControl">
                            <label class="form-check-label text ps-2" for="female">
                              Female
                            </label>
                          </div>
                        </div>
                        <div class="input-error">

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row  birthday">
                    <label for="birthday" class="form-label col-md-4 text">Birthday</label>
                    <div class="col-md-8 col-12">
                      <input type="date" class="form-control" id="birthday" formControlName="birthdayFormControl"
                             required>
                      <div class="input-error">
                  <span
                    *ngIf="form.get('birthdayFormControl').hasError('required') && createAccountForm.submitted">
                  Birthday is <strong>required</strong></span>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <label for="biography" class="form-label col-md-4 text">Biography</label>
                    <div class="col-md-8 col-12">

                <textarea class="p-2 w-100" name="biography" id="biography" cols="38" rows="10"
                          formControlName="biographyFormControl"></textarea>
                      <div class="input-error" style="margin-top: -9px">
                  <!-- <span
                    *ngIf="form.get('biographyFormControl').hasError('required') && createAccountForm.submitted">
                  Biography is <strong>required</strong></span> -->
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-12 mb-1">
                <div class="col-lg-4 button-e m-auto ">
                  <button type="submit" class="btn ms-auto me-auto fs-3">Save Account</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
