@import url(../../../../app/pages/accounts/view-account/view-account.component.css);
.create-form input, .create-form select, .create-form textarea {
  border: 2px solid #664c75;
  border-radius: 20px;
  color: #664c75;
  font-size: 14px;

}

.create-form > div > div > .row {
  padding: 7px 0;
}
.create-form input[type='radio']{
  background: white;
  transform: scale(2);

}
.create-form input[type='radio']:checked{
  transform: scale(2);
  background: #664c75;
  border: 1px solid #664c75
}

