<app-header></app-header>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="row">
  <div
    class="col-md-12 text-center p-4"
    style="
      background: url('assets/homeIcon/Header-BG.png') center center
        no-repeat;
      background-size: cover;
    "
  >
    <h1 class="text-light big-title">
      <img
        src="assets/Index Page/Index  Icon@2x.png"
        alt=""
        width="100"
      />
      Index
    </h1>
  </div>
</div>

<div class="row mb-4">
  <mat-progress-bar *ngIf="loadingIndex" mode="indeterminate"></mat-progress-bar>
  <div class="container-fluid mt-3">
    <div class="table-responsive" style="height: 300px; overflow-y: scroll">
      <table class="table w-100 user-table table-striped">
        <thead class="text-center">
          <tr>
            <th scope="col">Document</th>
            <th scope="col">Title</th>
            <th scope="col">Topic</th>
            <th scope="col">User</th>
            <th scope="col">View</th>
            <th scope="col">Select</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of indexedDocuments; index as i" class="text-center text-white">
            <td scope="row">{{ item?.name }}.{{ item?.format }}</td>
            <td>{{ item.title }}</td>
            <td>
              <div class="col-md-4 col-12 m-auto">
                <!-- <a class="fs-5" data-bs-toggle="modal" data-bs-target="#topicsTree">
                  <div class="view"></div> -->
                <a
                  class="fs-5"
                  (click)="
                    openModalViewTopicTree(item?.topics)
                  "
                  data-bs-toggle="modal"
                  data-bs-target="#topicsTree"
                >
                  <div class="view"></div>
                </a>
              </div>
            </td>
            <td>{{ item?.user[0]?.firstname }} {{ item?.user[0]?.lastname }}</td>
            <td>
              <div class="col-md-4 col-12 m-auto">
                <a
                  class="fs-5"
                  (click)="openModalViewDocument(item?.path)"
                  data-bs-toggle="modal"
                  data-bs-target="#viewDocument"
                >
                  <div class="topic"></div>
                </a>
              </div>
            </td>
            <td>
              <input
                class="rounded-circle checkbox-design"
                type="checkbox"
                (change)="displaySelectedConditions($event, item?.id)"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12 p-2">
      <div
        class="col-md-2 offset-md-9 col-4 offset-7 button-e"
        (click)="submit()"
      >
        <button type="submit" class="btn ms-auto me-auto">
          <img
            class="index-icon"
            src="assets/My Documents Page/Index Icon.svg"
            alt=""
            width="10"
          />
          Index
        </button>
      </div>
    </div>
  </div>
</div>


<app-tree-topic [topicTree]="passTopicTree"></app-tree-topic>
<app-view-document [documentUrl]="passDocumentUrl"></app-view-document>
<!-- view document -->
<!-- <ng-template #viewDocument let-d="dismiss">


  <a class="rounded-circle close-btn btn position-fixed  m-3 fs-1" (click)="d();" style="right:0px;top: -10px;">
  </a>

    <div class="modal-content p-3">

      <div class="modal-body">

        <embed [src]="passDocumentUrl" frameborder="0" width="100%" height="400px">
          <iframe height="450px" height="500" class="w-100" [src]="passDocumentUrl" allowfullscreen >
          </iframe>
        <object type="application/pdf" [data]="passDocumentUrl" width="100%" height="500">No Support</object>
      </div>
      <div class="modal-footer justify-content-center">


        <div class="col-md-3 col-7 m-auto button-e p-0 ">


          <a (click)="d();">Cancel</a>

        </div>


      </div>
    </div>

</ng-template> -->

<!-- view topic tree -->
<!-- <ng-template #viewTopicTree let-d="dismiss">
  <div class="p-0">
    <a
      class="rounded-circle close-btn btn position-fixed fs-1"
      (click)="d()"
      style="margin: -10px; right: 10px; top: 20px"
    >
    </a>

    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content bg-transparent border-0">
        <div class="modal-body"> -->
          <!-- <app-tree-topic [topicTree]="passTopicTree"></app-tree-topic> -->
        <!-- </div>

      </div>
    </div>
  </div>
</ng-template> -->
