@import url("../../../app/pages/roles/assign-role/assign-role.component.css");

.view {
  background: url("src/assets/My Documents Page/Open Topics Icon2.svg") center center no-repeat;
  background-size: contain;
  height: 27px;
  transition: 0.3s ease-in-out;
}
.checkbox-design {
  width: 30px !important;
  height: 30px !important;
  border: 3px solid #8d639d;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
  font-size: 0.9em;
  text-align: center;
  line-height: 1em;
  background: #ffffff;
  font-weight: bolder;
  color: #664c75;
}

.checkbox-design:after {

}

.checkbox-design:checked:after {

  content: "✓";
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}


.view:hover,.icon-hover:hover, .topic:hover {
  filter: brightness(50%);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.topic {
  background: url("src/assets/My Documents Page/Open Topics Icon.svg") center center no-repeat;
  background-size: contain;
  height: 27px;
  transition: 0.3s ease-in-out;

}


.index-icon {
  width: 30px !important;
  filter: brightness(0) invert(1);

}



tr {
  font-size: 20px !important;
}

tr td {
  padding: 4px !important;
  text-align: center;

}

td {
  color: #666464;
}
