#edit {
  display: none;

  z-index: 5;

}

.overlay3 {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
}

.img-view {
  transition: 0.5s ease-in-out;

}

@media screen and (min-width: 640px) {
  .topic-image {
    width: 75%;

  }
}

@media screen and (max-width: 650px) {
  .topic-image {
    width: 20%;

  }
}
