<app-edit-topic></app-edit-topic>
<app-delete-topic></app-delete-topic>
<div class="col-md-12 p-1 ">
  <div class="container shadow  mb-5 bg-body rounded">
    <div class="row">

      <div class="col-md-12 text-center">
        <img class="topic-image" src="assets/topic-tree/Topic%20Folder%20Icon.png" alt=""></div>
    </div>
    <div class="row"><p class="text text-center">topic</p></div>
    <div class="row">
      <div class="col-4 text-center  p-1">
        <a (click)="view($event)">
          <img *ngIf="clicked" class="img-view" src="assets/topic-tree/Hide.png" alt="" width="27">
          <img *ngIf="!clicked" class="img-view" src="assets/topic-tree/View.png" alt="" width="27">

        </a>
      </div>
      <div class="col-4 text-center p-1"><a data-bs-toggle="modal" data-bs-target="#editModal"><img
        src="assets/topic-tree/Edit.png" alt=""
        width="27"></a></div>
      <div class="col-4 text-center p-1"><a data-bs-toggle="modal" data-bs-target="#deleteModal"><img
        src="assets/topic-tree/Delete.png" alt=""
        width="27"></a></div>
    </div>
  </div>
</div>

