<div  class="row position-relative  forms" id="first-form">
  <div class="position-absolute top-0 start-0">
    <div class="p-2 ">
      <div class="row">
        <div class="col-md-12">
          <a routerLink="/">
            <img class="backArrow" src="assets/signin-up/icon (1).svg" alt="" width="45"
                 onmouseover="this.src='assets/signin-up/icon.svg'"
                 onmouseout="this.src='assets/signin-up/icon (1).svg'"
            /></a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-md-6 d-flex align-items-center pb-2"
    style="
      background-size: cover;
      background: url('assets/signin-up/BG.png') center center;
    "
  >
    <div>
      <div class="row mt-4 mb-sm-3 pb-sm-1">
        <div class="col-md-8 offset-md-2 text-center pb-md-0 pb-sm-1">
          <img
            class="sign-image"
            src="assets/homeIcon/Sign%20Up-In_Icon.png"
            alt=""
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 p-md-4 p-sm-3">
          <div class="d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <img class="logo" src="assets/Logo.svg" alt=""/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-4 mt-auto mb-auto">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-12 text-center"><h1 class="title">Welcome</h1></div>
      </div>
      <div class="row m-3">
        <div class="col-md-12 text-center">
          <h5 class="text">
            Your profile is verified
          </h5>
        </div>
      </div>
      <div class="row form" id="form">
        <div class="container">

              <div class="row button-e  p-md-2 p-sm-1">
                <a href="" routerLink="/signin" type="submit" class="btn fs-4" >
                  Sign In
                </a>
              </div>

        </div>
      </div>

    </div>
  </div>
</div>

