@font-face {
  font-family: logoFont;
  src: url(src/assets/fonts/Plaster-Regular.ttf);
}

@font-face {
  font-family: input;
  src: url(src/assets/fonts/Roboto/Roboto-Bold.ttf);
}

.sign-image {
  width: 30%;
}

.form input {
  border: 2px solid #664c75;
  border-radius: 20px;
  color: #664c75;
  font-size: 14px;
}

.form input::placeholder {
  color: #af81c6;
}

#email, #login-email {
  background: url("src/assets/signin-up/Email.png") no-repeat 94% center;
  background-size: 1.4vw;

}

#password, #login-password {
  background: url("src/assets/signin-up/Password.png") no-repeat 94% center;
  background-size: 1.2vw;

}


.sign-option .g-login:hover, .sign-option .e-login:hover {
  cursor: pointer;
  filter: brightness(50%);
  transition: 0.5s ease-in-out
}

.links {
  color: #664c75;
  text-decoration: none;
}

.links:hover {
  color: #5b4669;
  text-decoration: underline;
}


.setDark {
  filter: brightness(70%);

}

.setDefault {

  filter: brightness(100%);
}


@media screen and (min-width: 640px) {
  .sign-image {
    width: 30%;
  }

  .forms {
    height: 640px;
  }
}

@media screen and (max-width: 650px) {
  .sign-image {
    width: 20%;
    margin-bottom: 10px !important;
  }
}
