<div class="row position-relative forms" id="first-form">
  <div class="position-absolute top-0 start-0">
    <div class="p-2 ">
      <div class="row">
        <div class="col-md-12">
          <a routerLink="/">
            <img class="backArrow" src="assets/signin-up/icon (1).svg" alt="" width="45"
                 onmouseover="this.src='assets/signin-up/icon.svg'"
                 onmouseout="this.src='assets/signin-up/icon (1).svg'"
            /></a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-md-6 d-flex align-items-center pb-2"
    style="
      background-size: cover;
      background: url('assets/signin-up/BG.png') center center;
    "
  >
    <div>
      <div class="row mt-4 mb-sm-3 pb-sm-1">
        <div class="col-md-8 offset-md-2 text-center pb-md-0 pb-sm-1">
          <img
            class="sign-image"
            src="assets/homeIcon/Sign%20Up-In_Icon.png"
            alt=""
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 p-md-4 p-sm-3">
          <div class="d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <img class="logo" src="assets/Logo.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-4">
    <div class="col-md-10 offset-md-1">
      <div class="row mb-3">
        <div class="col-md-12 text-center">
          <h1 class="title fs-2">Welcome</h1>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-md-12 text-center">
          <h5 class="text">Please Sign In to access our search engine</h5>
        </div>
      </div>
      <div class="col-md-8 m-auto">
        <div class="row">
          <table class="sign-option table text-center">
            <tr>
              <td
                (click)="email()"
                class="col-3 border-0 e-login"
                [ngClass]="{ setDark: option, setDefault: !option }"
                style="
                  background: url('assets/signin-up/Mail.png') center
                    center no-repeat;
                  background-size: contain;
                "
              ></td>
              <td class="col-6 border-0 text-center">
                <div class="">
                  <div class="title">OR</div>
                </div>
              </td>
              <td
                (click)="gmail()"
                class="col-3 border-0 g-login"
                [ngClass]="{ setDark: !option, setDefault: option }"
                style="
                  background: url('assets/signin-up/Google.png') center
                    center no-repeat;
                  background-size: contain;
                "
              ></td>
            </tr>
          </table>
        </div>
      </div>

      <div *ngIf="eligibleEmail" class="row text-center p-4">
        <p class="text fs-6">
          This email is not registered but is eligible to sign up!
          <br />
          <a class="links" routerLink="/signup">Sign Up now!</a>
        </p>
      </div>

      <div *ngIf="nonEligibleEmail" class="row text-center p-4">
        <p class="text fs-6">
          This email is not registered and is not eligible to sign up!
        </p>
      </div>

      <div *ngIf="option" class="row form" id="login-form">
        <div class="col-md-10 offset-md-1">
          <form [formGroup]="form" (ngSubmit)="submit()" #loginForm="ngForm">
            <div class="p-md-2">
              <input
                class="form-control"
                type="email"
                id="login-email"
                formControlName="emailFormControl"
                placeholder="Enter Your Email"
                required
                (ngModelChange)="changeEmail()"
              />
              <div class="input-error">
                <span *ngIf="form.get('emailFormControl').hasError('required')">
                  Email is <strong>required</strong></span
                >

                <span *ngIf="form.get('emailFormControl').hasError('email')">
                  Please enter a valid email address</span
                >
              </div>
            </div>
            <div class="mb-1 p-md-2">
              <input
                class="form-control"
                type="password"
                id="login-password"
                formControlName="passwordFormControl"
                placeholder="Enter Your Password"
                required
                (keydown) = "incorrectPasswordReset()"
              />

              <div class="input-error">
                <span
                  *ngIf="form.get('passwordFormControl').hasError('required')"
                >
                  Password is <strong>required</strong></span
                >
                <span *ngIf="incorrectPassword">
                  Password is <strong>incorrect</strong></span
                >
              </div>
            </div>

            <div class="mb-3 p-1 w-100">
              <div class="row">
                <div class="col-5">
                  <div class="row button-e p-2">
                    <button class="btn fs-3" [disabled]="!this.form.valid">
                      Sign In
                    </button>
                  </div>
                </div>
                <div class="col-7 p-0">
                  <div class="row pt-2 text-end">
                    <a href="#" class="text-muted" routerLink="/forgot-password"
                      >Forgot Password?</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="!option" class="row form" id="google-form">
        <div class="container">
          <form>
            <div class="col-8 me-auto ms-auto m-5">
              <div class="row button-e p-md-2 p-sm-1 pt-sm-1 pb-sm-1">
                <button
                  (click)="signWithGoogle()"
                  type="submit"
                  class="btn fs-3"
                >
                  Sign In With Google
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row text-center p-4">
        <p class="text fs-6">
          Do not have an account?
          <a routerLink="/signup" class="links" href="#first-form"
            >Sign Up Now</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

