<div class="modal fade p-0" id="deleteProfile" tabindex="-1" aria-labelledby="deleteProfile">
	<a #closeModalBtn class="rounded-circle close-btn btn position-absolute top-0 end-0 m-3 fs-1" data-bs-dismiss="modal"></a>
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content p-3">
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-6 col-md-10 m-auto border-bottom-style">
						<div class="modal-header justify-content-center">
							<img src="assets/topic-tree/Delete%20Topic%20icon.png" alt="" width="50" />
							<div class="modal-title text fs-4 p-1" id="exampleModalLabel">
								Delete Profile
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center m-2">
						<p class="" class="text fs-5">
							You are going to delete a Profile, are you sure?
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer justify-content-center text-center">
				<div class="button-e p-1">
					<button [disabled]="loading" class="btn" (click)="deleteProfile()">
						Delete Profile <i class="fa fa-trash ps-md-4 ps-sm-2"></i>
					</button>
				</div>
				<div class="col-lg-3 col-md-5 col-6 m-auto button-e p-1 fs-3 text-white" data-bs-dismiss="modal">
					Cancel
				</div>
			</div>
		</div>
	</div>
</div>