
<div class=" modal fade p-0 " id="viewUserInfo" tabindex="-1" aria-labelledby="viewUserInfo">

  <a class="rounded-circle close-btn btn position-absolute top-0 end-0 m-3 fs-1" data-bs-dismiss="modal">
  </a>


  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content p-3 bg-transparent border-0">

      <div class="modal-body ">
        <div class="col-md-12 account-info bg-white p-2">
          <div class="">
            <div class="row border-bottom">
              <div class="col-6 text"><img class="p-2" src="assets/account/Male.svg" alt="" width="44">Jhon
                Smith
              </div>
            </div>
            <div class="row text mt-3">
              <div class="col-md-6 mt-2 ps-0 pe-0">
                <div class="row">
                  <div class="col-2 text-center m-auto"><img src="assets/account/Location.svg" alt=""
                                                             width="22"></div>
                  <div class="col-10">
                    <div class="row">Country</div>
                    <div class="row">Street - bldg - floor - PCode</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mt-2 ps-0 pe-0 m-auto  ">
                <div class="row ">
                  <div class="col-2 text-center m-auto"><img src="assets/account/Mobile.svg" alt=""
                                                             width="22"></div>
                  <div class="col-10 mt-auto mb-auto">+000 00 000 000</div>
                </div>
              </div>

              <div class="col-md-6 mt-2 ps-0 pe-0">
                <div class="row">
                  <div class="col-2 text-center m-auto"><img src="assets/account/Email.svg" alt=""
                                                             width="30"></div>
                  <div class="col-10">
                    <div class="row">example@example.com</div>
                    <div class="row">example@example.com</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mt-2 ps-0 pe-0 m-auto ">
                <div class="row ">
                  <div class="col-2 text-center m-auto"><img src="assets/account/Phone.svg" alt=""
                                                             width="34"></div>
                  <div class="col-10 mt-auto mb-auto">+000 00 000 000</div>
                </div>
              </div>
            </div>
            <div class="row text mt-3">
              <div class="container p-lg-4 p-sm-3  paragraph">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
