
<div class=" modal fade p-0 " id="viewDocument" tabindex="-1" aria-labelledby="viewDocument">

  <a class="rounded-circle close-btn btn position-absolute top-0 end-0 m-3 fs-1" data-bs-dismiss="modal">
  </a>


  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content p-3">

      <div class="modal-body">
      
        <iframe *ngIf="documentUrl" height="450px" height="500" class="w-100" [src]="documentUrl" allowfullscreen >
        </iframe>
      </div>
      <div class="modal-footer justify-content-center">


        <div class="col-md-3 col-7 m-auto button-e p-0 ">


          <a data-bs-dismiss="modal">Cancel</a>

        </div>


      </div>
    </div>
  </div>
</div>


