/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('assets/theme.css');
body{
  box-sizing: border-box;
  padding: 0px!important;
  margin: 0px;
  font-family: Roboto,sans-serif;
  overflow-x: hidden!important;
  transition: 0.5s ease-in-out;



}
.big-title{
  font-family: logoFont, "Roboto Light";
}
html,
body {
  height: 100%;
}

button:disabled {
  cursor: not-allowed !important;
  pointer-events: all !important;
}

.row{

  margin-right: 0px!important;
  margin-left: 0px!important;

}

@font-face {
  font-family: logoFont;
  src: url(assets/fonts/Plaster-Regular.ttf);
}

@font-face {
  font-family: input;
  src: url(assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: qustionFont;
  src: url(assets/fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: typeFont;
  src: url(assets/fonts/Roboto/Roboto-Light.ttf);
}



.logo{
  width: 40%;
}

/*sign in\up navbar*/
.sign {

  color: white;
  transition: all 0.5s ease-in-out;

}

.sign :hover span {
  cursor: pointer;
  color: #969696;
  transition: all 0.5s ease;

  letter-spacing: 1px !important;

}

.sign :hover img {
  filter: alpha(opacity=50);
  opacity: .8;
}

/* normal text and links */

.text {
  font-family: input;
  color: #8d639d;

}
/* common button */
.button-e  {
  background: #8D639D;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  font-weight: bold;
}

.button-e a ,.button-e button {
  transition: 0.5s ease-in-out;
  display: block;
  padding: 2px;
  text-decoration: none;
  z-index: 100;
  height: 100%;
  color: white!important;
  text-align: center;

}

.button-e:hover {
  cursor: pointer;
  background: #40334a;
  color: white!important;

}

.button-e img {

  /*
  width: 60px;
  */
}
.button-e:hover img {
  transform: scale(1.1)rotate(5deg);

  transition: 0.5s ease-in-out;

}
/* title */
.title{
  font-family: input;
  color: #8d639d;
}

@media screen and (min-width: 640px) {
  .big-title {
    font-size: 70px;
  }
  .describe {
    font-size: 25px; /*35px*/

  }
  .text{
    font-size: 18px;

  }
  .title{
    font-size: 40px;
  }
  .button-e  {
    /*
    font-size: 28px;
    */
  } .button-e button {
      /*
      font-size: 23px;
      */
    }
  .button-e img {
    /*
    width: 60px;
    */
  }

}

@media screen and (max-width: 650px) {
  .big-title {
    font-size: 50px;
  }
  .describe {
    font-size: 15px; /*35px*/

  }
  .text{
    font-size: 16px;

  }
  .title{
    font-size: 25px;
  }
  .button-e  {
    /*
    font-size: 14px;
    */
  }
  .button-e img {
    width: 30px;
  }
  .sign .overlay_button{
    margin-bottom: 0px;
    margin-top: 10px;
  }

}
.input-error{
  padding-top: 2px;
  color: silver;
  font-size: 12px!important;
  margin-left: 15px;
  height: 20px;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  outline: none!important;
  box-shadow: none!important;}

input:focus,button:focus,textarea:focus, select:focus{
  outline: none!important;
  box-shadow: none!important;
}
input::-moz-focus-inner {
  border: 0;
}
