<div class="modal fade p-0" id="subtopicModal" tabindex="-1" aria-labelledby="subtopicModal">
  	<a #closeModalBtn class="rounded-circle close-btn btn position-absolute top-0 end-0 m-3 fs-1" data-bs-dismiss="modal"></a>
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content p-3">
			<form ngNativeValidate (submit)="save()">
				<div class="modal-header justify-content-center">
					<img src="assets/topic-tree/Edit%20Topic%20icon.png" alt="" width="50">
					<h5 class="modal-title text fs-4 p-3" id="exampleModalLabel">NEW SUBTOPIC</h5>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label class="form-label text">Title</label>
						<input 
							type="text" 
							name="title" 
							[(ngModel)]="title" 
							class="w-100 form-control" 
							maxlength="64"
							required 
						/>
					</div>
				</div>
				<div class="modal-footer justify-content-center">
					<div class="button-e p-1">
						<button [disabled]="loading" class="btn" type="submit">
							SAVE CHANGES <i class="fa fa-save ps-md-4 ps-sm-2"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>