<div class=" modal fade p-0 " id="chooseProfile" tabindex="-1" aria-labelledby="chooseProfile">

  <a class="rounded-circle close-btn btn position-absolute top-0 end-0 m-3 fs-1" data-bs-dismiss="modal">
  </a>


  <div class="modal-dialog modal-dialog-centered  modal-xl">
    <div class="modal-content  bg-transparent border-0 mt-3">

      <div class="modal-body">
        <div class="row bg-white  modal-content mb-2" *ngFor="let item of topics">
          <div class="w-100 m-auto ">
            <div class="modal-header border-bottom-style">
              <div class="modal-title text fs-4 p-1" id="exampleModalLabel">{{item}}</div>
            </div>
            <div class="row">
              <div class="col-md-10 role-icons row p-1">

                <div class="col-md-2 col-5 m-md-1 m-auto p-2 d-flex align-items-center" *ngFor="let item of topics">
                  <a class="pr text-white text-decoration-none d-block">
                    <img src="assets/topic-tree/Topic Folder Icon.svg" alt="" width="20"> {{item}}
                  </a>


                </div>

              </div>
              <div class="col-md-2 text p-1 mt-2 mb-2 text-center choose-profile-button"><a class="text-decoration-none"
                                                                                            href="">Choose Profile</a>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
