@import url(../../../app/small-component/tree-topic/tree-topic.component.css);
.choose-profile-button a{ display: block; color: #664c75;
}
.choose-profile-button{
  border: 2px solid #664c75;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}.choose-profile-button:hover a{
   color: white;

 }.choose-profile-button:hover {
  border: 2px solid #664c75;
  border-radius: 10px;
  background-color: #664c75;
}
