
<div class=" modal fade p-0 " id="addEmail" tabindex="-1" aria-labelledby="addEmail">

  <a class="rounded-circle close-btn btn position-absolute top-0 end-0 m-3 fs-1" data-bs-dismiss="modal">
  </a>


  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header justify-content-center">
      </div>
      <div class="modal-body">
        <div class="col-md-6 m-auto border-bottom-style">
          <div class="text-center text fs-3 p-3">
            <img
              src="assets/eligible-emails/Add Document icon@2x.png" alt="" width="60"><span class="p-2">ADD EMAIL</span>
          </div>
        </div>
          <div class="mb-3">
            <label for="user-name" class="form-label text">User's Name</label>
            <input type="text" class="form-control" id="user-name" [(ngModel)]="eligible.username" required>
          </div>        
          <div class="mb-3">
            <label for="email" class="form-label text">Email Address</label>
            <input type="text" class="form-control" id="email" type="email" [(ngModel)]="eligible.email" required>
          </div>
        <div class="modal-footer justify-content-center">
          <button class="col-5 offset-2 button-e p-1 " (click)="submit()" data-bs-dismiss="modal">
            <a >ADD EMAIL
            </a>
  
          </button>
          </div>
      </div>
    </div>
  </div>
</div>
