@import "../../../app/small-component/add-topic/add-topic.component.css";
.modal-dialog input{
  border: 2px solid #9a75a8;
  border-radius: 20px!important;

}

.input-error {
  padding-top: 2px;
  color: silver;
  font-size: 12px!important;
  margin-left: 15px;
  height: 20px;
}