<div class=" modal fade p-0 " id="changePassword" tabindex="-1" aria-labelledby="changePassword">

  <a class="rounded-circle close-btn btn position-absolute top-0 end-0 m-3 fs-1" data-bs-dismiss="modal" #closeModalBtn>
  </a>


  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title text fs-3 p-1" id="exampleModalLabel">CHANGE PASSWORD</h5>
      </div>
      <div class="modal-body">
        <div class="container">
         <form [formGroup]="form" #changePasswordForm="ngForm">
          <div class=" row mb-3">
            <label for="old" class="form-label text col-5 fs-5 m-auto">Old Password</label>
            <div class="col-7">
              <input 
                type="text" 
                class="form-control" 
                formControlName="oldPassword" 
                required
                >
                <span
                  class="input-error"
                  *ngIf="
                    form.get('oldPassword').hasError('required')">
                    Old Password is <strong>required</strong>
                  </span
                >
            </div>
          </div> <div class=" row mb-3">
            <label for="new" class="form-label text col-5 fs-5 m-auto">New Password</label>
            <div class="col-7">
              <input 
                type="text" 
                class="form-control"
                [(ngModel)]="password" 
                formControlName="newPassword" 
                required 
                (keyup)="checkMatchValidator(password, repassword)">
                <span
                class="input-error"
                *ngIf="
                  form.get('newPassword').hasError('required')">
                  Password is <strong>required</strong>
                </span
              >
              <span
                class="input-error"
                *ngIf="
                  form.get('newPassword').hasError('minlength')">
                Password should be at least 8 characters
              </span>
            </div>
          </div> <div class=" row mb-3">
            <label for="confirm" class="form-label text col-5 fs-5 m-auto">Confirm New Password</label>
            <div class="col-7">
              <input
                type="text" 
                class="form-control" 
                [(ngModel)]="repassword" 
                formControlName="confirmPassword" 
                required
                (keyup)="checkMatchValidator(password, repassword)">

                <span
                  class="input-error"
                  *ngIf="
                    form.get('confirmPassword').hasError('required')">
                  Confirm Password is <strong>required</strong></span
                >

                <span
                  class="input-error"
                  *ngIf="
                    !isEqualPassword &&
                    !form.get('confirmPassword').hasError('required')">
                  Make Sure the passwords are the same
                </span>
            </div>
          </div>
         </form>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button 
          class="col-lg-5 col-md-10 m-auto offset-2 button-e p-1 fs-5" 
          (click)="submit()"
          [disabled]='!this.form.valid'
          >
          <a >CHANGE PASSWORD
          </a>

        </button>
      </div>
    </div>
  </div>
</div>
