
.info .border-bottom {
  border-bottom: 4px solid #8d639d !important;
  color: #8d639d;
  font-family: qustionFont, serif;
  font-weight: 300;
}

.user-table thead{
  background: #8d639d;
  color:white;
}
.user-table {
}
.user-table tbody tr,.user-table tbody tr select,.user-table tbody tr option{
  color: #666464;
}
.table-responsive{
  padding: 0px;
  border: 2px solid #8d639d;
}
/* width */
.table-responsive::-webkit-scrollbar {
  width: 10px;
  border: 1px solid gray;
}

/* Track */
.table-responsive::-webkit-scrollbar-track {
}

/* Handle */
.table-responsive::-webkit-scrollbar-thumb {
  background: #8d639d;
}

/* Handle on hover */
.table-responsive::-webkit-scrollbar-thumb:hover {
  background: #564060;
}




@media screen and (min-width: 640px) {

  .table-responsive{
    font-size: 17px;
  }
  .user-table tbody tr option{
    font-size: 17px;

  }
}

@media screen and (max-width: 650px) {

  .table-responsive{
    font-size: 12px;
  }
  .user-table tbody tr option{
    font-size: 12px;

  }
}
.table-responsive          { overflow: auto; height: 200px; }
.table-responsive thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th    { background:#8d639d; }


