<app-header></app-header>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="row">
  <div class="col-md-12 text-center p-4 "
       style="background: url('assets/homeIcon/Header-BG.png') center center no-repeat;background-size: cover">
    <h1 class="text-light big-title"><img src="assets/roles/Roles Icon.png" alt="" width="100"> Roles</h1>


  </div>
</div>
<div class="row info p-1">
  <div class="offset-md-4 col-md-4 p-2  ">
    <div class="d-flex justify-content-center border-bottom p-2">
      <img class="m-auto " src="assets/roles/Assign%20a%20Role%20icon.png" alt="" width="70">
      <h1 class="text-center m-auto">ASSIGN A ROLE</h1>
    </div>
  </div>
</div>
<div class="row mb-4">

  <div class="col-md-10 col-11 m-auto table-responsive" style="height: 181px;overflow-y: scroll">
    <table class="table w-100 user-table table-striped">
      <thead class="text-center">
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <th class="text-center" scope="row" style="background: none;">{{user.id}}</th>
        <td class="text-center">{{user.firstname}} {{user.lastname}}</td>
        <td>
          <div class="row ">
            <form action="" [formGroup]="form">
              <select class="form-select bg-transparent border border-0" #mySelect
              (change)="setRolesAndUsers(mySelect.value, user.id)" aria-label="Default select example" >
                <option value="" >--Open this select menu--</option>
                <option *ngFor="let role of roles" [ngValue]="role.id" [selected]="isSelected(user.id, role.id)">{{role.title}}</option>
              </select>
            </form>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
  <div class="col-md-12 p-2">
    <div class="m-auto col-md-4 button-e ">
      <button  type="submit" class="btn ms-auto me-auto" (click)="submit()">Save Changes</button>
    </div>
  </div>
</div>

